
{% extends 'base/base.html' %}



		<title>{% block title %}Events{% endblock %}</title>

 		{% block extrahead %}
		<link rel="stylesheet" href="{{STATIC_URL}}css/detail.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/stripe.css" type="text/css">
		<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
		<script src="{{STATIC_URL}}js/googlemaps.js"></script>

	<script>
		$(document).ready(function () {
			balanced.init('/v1/marketplaces/TEST-MP3BUTNlzLlEQq7B5TB5fpq0')
			$('.ticket-delete').click(function(){
				window.location.reload(true)
			})
			$("#purchase-form").submit(function(event){
				event.preventDefault()
				var payload = {
			        card_number: $('#id_number').val(),
			        expiration_month: $('#id_expiration_0').val(),
			        expiration_year: $('#id_expiration_1').val(),
			        security_code: $('#id_cvc').val()
			    };
			    balanced.card.create(payload, function (response) {
			        // Successful tokenization
			        if(response.status === 201 && response.data) {
			            // Send to your backend
			            $("#id_uri").val(response.data.uri);
			            // $('form#purchase-form').submit();
			             jQuery.post('', $('form#purchase-form').serialize()
			             //{
			                // uri: response.data.uri,
			                // name: $("#id_name").val(),
			                // price: $("#id_price").val(),
			                // 'csrfmiddlewaretoken':'{{csrf_token}}'
			            // }, 
			            , function(r) {
			                // Check your backend response
			                window.location = $.parseJSON(r)[0].redir;
			            });
			        } else {
			            alert('failed to tokenize:\n' + JSON.stringify(response, false, 4))
			        }
			        
			        // Debuging, just displays the tokenization result in a pretty div
			        // $('#response .panel-body pre').html(JSON.stringify(response, false, 4));
			        // $('#response').slideDown(300);
			    })
			})
		})
		$(function() {
		
			$("#nav").addClass("transparent")
		
		
		    $('.ticket-pay').click(function(){ 
		    	// no ajax calls required here.. we just check in the template and send a flag.
			    var loggedin = 0;
			    {% if user.is_authenticated %}
			    loggedin = 1;
			    {% endif %}
			    if(loggedin){
			      $(".overlay").addClass("active").show()
			      tier = $(this).attr("data-id")
			      $("#purchase-form select[name='price']").val(tier);
			    }else{
			    	//this is the part where the pop displays that the user is to loggin to buy the ticket.
			    }
		    });
		    $('.cover').click(function(){
		      $(".overlay").removeClass("active").fadeOut('fast')
		    });
		
			percentt = 1;
			percent = 0;
			event_funding_status = {{event.funding_status}}
			setTimeout(function() {
				percentint = setInterval(function() {
					$(".event-percent").html(Math.floor(percent)+"%")
					percent = Math.pow(percentt, 0.9)
					percentt++
					if (percent > event_funding_status+1) {
						clearInterval(percentint)
					}
				}, 10)
			}, 1000)
		
			tally_1 = {{tier_tally.tier_1}}
			tally_total = tally_1 
			$(".tickets-sold").html(tally_total)
			tier_1_rev = tally_1 * {{event.tier_one}};
			$(".tier-one-stat .sub-stat-rev span").html(tier_1_rev)
		})
	</script>


	{% endblock %}
	{% block content %}
	<div class="event-pic">
		<img src="{{STATIC_URL}}/{{event.pic}}" alt="">
	</div>
	<div class="event-main">
		<div class="event-bottom-container">
			{% if user.is_authenticated and user.id == event.creator_id %}
			<div class="admin-panel">
				<div class="left-admin">
					<div class="admin-c">
						{% if names %}
						<div class="admin-title guest-list-title">Guest List</div>
						<div class="guestlist">
							{% for key, values in names.items %}
						        <div class="guest">{{key}}<span>Tier {{values}}</span></div>
						     {% endfor %}
						</div>
						{% endif %}							
					</div>
					<div class="admin-c">
						<div class="admin-title event-stats-title">Event Stats</div>
						<div class="stat-list">
							<div class="stat-title">Tickets Sold (<span class="tickets-sold">0</span>)</div>
								<div class="sub-stat-c">
									<div class="sub-stat tier-one-stat">
										<div class="sub-stat-title">Tier 1</div>
										<div class="sub-stat-val sub-stat-qty">{% if tier_tally.tier_1 %}{{tier_tally.tier_1}}{% else %}0{% endif %}</div>
										<div class="sub-stat-val sub-stat-rev">$<span>0</span></div>
									</div>
									{% if event.tier_two %}
									<div class="sub-stat tier-two-stat">
										<div class="sub-stat-title">Tier 2</div>
										<div class="sub-stat-val sub-stat-qty">{% if tier_tally.tier_2 %}{{tier_tally.tier_2}}{% else %}0{% endif %}</div>
										<div class="sub-stat-val sub-stat-rev">$<span>0</span></div>
									</div>
									{% endif %}
									{% if event.tier_three %}
									<div class="sub-stat tier-three-stat">
										<div class="sub-stat-title">Tier 3</div>
										<div class="sub-stat-val sub-stat-qty">{% if tier_tally.tier_3 %}{{tier_tally.tier_3}}{% else %}0{% endif %}</div>
										<div class="sub-stat-val sub-stat-rev">$<span>0</span></div>
									</div>
									{% endif %}
								</div>
							<div class="stat-title">Money Raised<span class="stat-val">${% if money %}{{money}}{% else %}0{% endif %}</span></div>
							<div class="stat-title">Goal<span class="stat-val">{{event.tipp_point}}</span></div>
						</div>	
					</div>
			
				</div>
				<div class="right-admin">
					<div class="admin-button admin-share"><span>Share</span></div>
					<div class="admin-button admin-funds"><span>Receive Funds</span></div>
					<div class="admin-button"><div class="ab-title">Admin Panel</div></div>
					<div class="admin-button admin-edit"><span>Edit Details</span></div>
				</div>
			</div>	
			{% endif %}				
			<div class="event-main-wrap">
				<div class="event-name">
					<span>{{ event.evname }}</span>
				</div>
				<div class="event-main-right">
					<div class="event-percent">0%</div>
					<div class="event-main-location">{{ event.address }}</div>
				</div>
				<div class="event-bottom">
					<div class="event-video">{{ event.vid_embed|safe }}</div>		
					<div class="event-tiers">
						<div class="event-tier">
                            {% if exists %}
                            <a  class="ticket-pay ticket-pay_remove" href="/event/delete/{{ event.id }}" >
                            {% else %}
                            <a class="ticket-pay"data-id="1">
                            {% endif %}
								<div class="tier-price">
									<span>$
	                                    {% if event.is_tipped %}
	                                    {{ event.tier_one_post_tipp }}
	                                    {% else %}
	                                    {{ event.tier_one }}
	                                    {% endif %}
	                                </span>
								</div>
								<div class="tier-description">
									<span>{{ event.tier_one_desc }}</span>
									<span class="qty">Available Tickets:{{tier_one}}</span>	
								</div>
								{% if exists %}
                                <div class="purchase-logo">-</div>
                                {% else %}
                                 <div class="purchase-logo">+</div>
                                {% endif %}
							</a>
						</div>
						{% if event.tier_two %}
						<div class="event-tier">
							{% if exists %}
                            <a  class="ticket-pay_remove" href="/event/delete/{{ event.id }}" >
                            {% else %}
                            <a class="ticket-pay"data-id="1">
                            {% endif %}
								<div class="tier-price">
									<span>$
		                                {% if event.is_tipped %}
		                                {{ event.tier_two_post_tipp }}
		                                {% else %}
		                                {{ event.tier_two }}
		                                {% endif %}
		                            </span>
								</div>
								<div class="tier-description">
									<span>{{ event.tier_two_desc }}</span>
									<span class="qty">Available Tickets:{{tier_two}}</span>
								</div>
								{% if exists %}
                                <div class="purchase-logo">-</div>
                                {% else %}
                                 <div class="purchase-logo">+</div>
                                {% endif %}
							</a>
						</div>
						{% endif %}
						{% if event.tier_three %}
						<div class="event-tier">
							{% if exists %}
                            <a  class="ticket-pay_remove" href="/event/delete/{{ event.id }}" >
                            {% else %}
                            <a class="ticket-pay"data-id="1">
                            {% endif %}
								<div class="tier-price">
									<span>$
		                                {% if event.is_tipped %}
		                                {{ event.tier_three_post_tipp }}
		                                {% else %}
		                                {{ event.tier_three }}
		                                {% endif %}
		                            </span>
								</div>
								<div class="tier-description">
									<span>{{ event.tier_three_desc }}</span>
									<span class="qty">Available Tickets:{{tier_three}}</span>
								</div>
								{% if exists %}
                                <div class="purchase-logo" >-</div>
                                {% else %}
                                <div class="purchase-logo">+</div>
                                {% endif %}
							</a>
						</div>
						{% endif %}					
					</div>
				</div>
			</div>
			<div class="event-left">
				<div class="event-description"><span>{{ event.descr|safe }}</span></div>
				<div class="location-info">
				    <div id="map-canvas"></div>
					<div class="location-name"><span>{{ event.location }}<span></div>
					<div class="location-address"><span>{{ event.address }}</span></div>
					<div class="location-city"></div>
					<div class="location-map"></div>
					<div class="location-phone"><span>{{ event.phone }}<span></div>
					<div class="location-website"><span>{{ event.website }}</span></div>
				</div>
			</div>	
			<div class="app">
				<div class="overlay">
					<div class="cover"></div>
					<div class="yield">
						<div class="panel" style="margin-top: -248.4px;">
							<header>
								<section class="custom">
									<div class="info">
										<h1>{{event.evname}}</h1>
										<h2>{{event.location}}</h2>
									</div>
								</section>
								<nav>
									<a class="close">Close</a>
								</nav>
							</header>
							<form id="purchase-form" action="" method="post">
								{% csrf_token %}
								{% for field in form %}
								<div class="field-wrapper">
									<div class="field-label">
										{{ field.label_tag }}:
									</div>
									<div class="field-field">
										{{ field }}
										{{ field.errors }}
									</div>
								</div>
								{% endfor %}
								<input type="submit" value="Checkout" />
							</form>
							<div class="success">
								<div class="check"></div>
							</div>
						</div>
					</div>
					<footer class="overlay-footer">
					  <a href="https://stripe.com" target="_blank"><span class="stripe">Powered by Stripe</span></a>
					  <span class="secure">Secure Connection</span>
					</footer>
				</div>
			</div>		
		</div>
	</div>
	{% endblock %}





