

/*** SignupBox CSS ***/
#signup-form {
	display:none;
}
.sign-in-c {

}
.sign-in-blur {
    background: url("../img/onesignin.jpg");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sign-in-bar {
    height: 0;
    background: rgba(0, 0, 0, 0.74);
    position: relative;
    border-radius: 1px 1px 0 0;
}
.sign-in {
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
}
.signin-button span {
    margin-top: 11px;
    display: block;
    float: left;
}
.login-email, .login-password {
    clear: left;
    width: 88%;
    margin: 0 auto;
}
.log-in-c input, .signup-email input {
    clear: both;
    width: 96%;
    border: 1px solid #D8D8D8;
    font-size: 21px;
    margin-top: 7px;
    border-radius: 3px;
    padding: 3px 2%;
    outline: none;
    float: left;
}
.log-in-c button[type="submit"], .signup-email button[type="submit"] {
clear: both;
width: 49%;
background: #000;
border: none;
color: #FFF;
margin: 44px auto 0;
font-size: 18px;
border-radius: 1px;
padding: 7px 0;
cursor: pointer;
font-family: 'Raleway', sans-serif;
letter-spacing: 2px;
border: 1px solid rgba(255, 255, 255, 0.04);
border-bottom: 1px solid rgba(255, 255, 255, 0.24);
font-weight: 200;
outline: none;
display: block;
float: left;
margin-top: 4px;
margin-right: 12px;
}
.login-email input, .login-password input {
    width: 94%;
    border: none;
    padding: 6px 3%;
    font-size: 18px;
    color: #141414;
    border-radius: 1px;
}
.log-in-c {
    display:block;
    width: 48%;
    float: left;
    padding-left: 4%;
    padding-top: 18px;
    background: #DFDCD8;
    box-shadow: 1px 0 3px -2px rgba(0, 0, 0, 0.55) inset;
    min-height: 286px;
    padding-bottom: 21px;
}

.log-in-c p {
    margin: 0px 0 9px;
    font-weight: 300;
    font-size: 21px;
    color: #000;
    position: relative;
    float: left;
    width: 100%;
}
.signup-login {
	float: left;
	display: block;
	margin-bottom: 18px;
	width: 100%;
}
.social-container {
	clear: both;
}
.sl-title.selected {
	background: none;
}
.sign-in-sep {
	margin: 0 auto;
	width: 100%;
	position: relative;
	font-size: 21px;
	font-weight: 200;
	color: #000;
	text-align: center;
	margin-bottom: 8px;
}
.sl-title {
	font-size: 23px;
	font-weight: 300;
	background: rgba(0, 0, 0, 0.1);
	float: left;
	width: 50%;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
  -webkit-transition: background 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: background 0.1s ease-out;  /* Opera 10.50–12.00 */
          transition: background 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	color: #000000;
}
.sl-title:not(.selected):hover {
	background:rgba(0,0,0,.07)
}
.signin-button {
	background: #242424;
	width: 200px;
	margin: 0px auto 10px;
	height: 42px;
	width: 248px;
	color: white;
	cursor: pointer;
	border-radius: 1px;
	display: block;
	clear: both;
	position: relative;
  -webkit-transition: background 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: background 0.1s ease-out;  /* Opera 10.50–12.00 */
          transition: background 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}
.signin-button.mail {
	display:none;
}
.signin-button:hover {
	color:white;
}
.signin-button:active {
	top: 1px;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.signin-button.facebook {
    background: #3F5A8F;
}
.signin-button.twitter {
    background: #3da9d8;
}
.signin-button.google {
    background: #db4c39;
}
.signin-button.facebook:hover {
    background: #3F5A8F;
}
.signin-button.twitter:hover {
    background: #3da9d8;
}
.signin-button.google:hover {
    background: #db4c39;
}
.signin-button.mail:hover {
    background: #000;
}
.mail .social-icon {
    background: url("../img/mail_icon_w.png") no-repeat 9px 8px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 25px;
    padding: 6px;
    margin-right: 7px;
    border-right: 1px solid #D3D3D3;
}
.facebook .social-icon {
    background: url("../img/facebook_icon.png") no-repeat 9px 8px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 25px;
    padding: 6px;
    margin-right: 7px;
    border-right: 1px solid #4D6DAC;
}
.twitter .social-icon {
    background: url("../img/twitter_icon.png") no-repeat 9px 8px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 25px;
    padding: 6px;
    margin-right: 7px;
    border-right: 1px solid #4EBEEE;

}
.google .social-icon {
    background: url("../img/google_icon.png") no-repeat 10px 9px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 25px;
    padding: 6px;
    margin-right: 7px;
    border-right: 1px solid #FA624E;

}
.sign-up-c {
    float: left;
    width: 48%;
    padding: 6px 0;
    margin-top: 6%;
    position: relative;
}
.log-in-c label {
    float: left;
}
.login {
    position: relative;
}
.secondaryAction {
color: #808080;
font-size: 12px;
text-decoration: none;
float: left;
float: right;
position: absolute;
right: 0;
top: 152px;
right: 16px;
}
#login-form label[for="id_remember"] {
display: inline;
font-size: 14px;
color: #383838;
float: none !important;
margin-left: 3px;
position: absolute;
left: 17px;
}
.create-account {
    font-size: 13px;
	
    margin-top: 14px;
    float: right;
    margin-right: 13px;
    cursor: pointer;
}
#logout-form {
	display:none;
}

#signup-form p label {
    font-size: 16px;
}
#signup_form p input {
    font-size: 13px;
}

/*********************/