html, body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;

}
.edit-pic {
    background-image: url("../img/camera.png");
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 22px 26px;
}
.tier-price input, .post-tier-price input {
    padding: 8px;
    font-size: 21px;
}
.publish input {
    border: none;
    font-size: 19px;
    margin: 0;
    padding: 8px 70px;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 70px;
    float: right;
    clear: both;
    display: block;
    background: #CA4949;
}
.tier-price input {
    width: 100%;
    font-size: 33px;
}
.tier-description input, .tier-tickets input {
font-size: 14px;
margin: 6px 0;
padding: 6px 6px;
width: 100%;
}
.embed-vid-title {
    color: white;
    margin: 30px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
}
.tier-price, .tier-price input, .post-tier-price, .post-tier-price input {
    float: left;
    font-size: 22px;
    text-align: center;
    margin-right: 2%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    color: white;
}
.event-description textarea {
width: 100%;
height: 100px;
padding: 10px;
max-width: 100%;
}
.event-tier-c .tier-button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    line-height: normal;
    padding: 11px 22px;
    float: right;
    font-size: 16px;
    color: white;
    margin-right: 10px;
}
.tier-button:hover {
}
.add-tier {
    background: #B43939;	
}
.remove-tier {
	background: #3050B8;
	display:none;
}
.tier-options {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    overflow: auto;
    font-size: 14px;
    color: black;
}
.tier-option {
    float: left;
    cursor: pointer;
}
.tier-option label:before {
    content: "";
    float: left;
    height: 10px;
    width: 10px;
    background: #D5D5D5;
    margin: 1px 10px 3px 3px;
    border: 1px solid #000;
    border-radius: 10px
}
.tier-option input {
    display:none;
}
.tier-option input:checked + label:before {
    content: "";
    float: left;
    height: 10px;
    width: 10px;
    background: white;
    margin: 1px 10px 3px 3px;
    border:1px solid white;
}
.event-tiers-left {
    float: left;
    width:100%;
}

.event-tier-post {
    width: 11%;
    float: right;
    display:none;
}
.event-bottom-container {
    position: relative;
    width: 100%;
}
.block-content form {
    width: 700px;
    margin: 0 auto;
    padding: 1px 12px 0;
    float: left;
}
.tier-description.editable {
    float: left;
    width: 66%;
}
.tier-description.widthchange {
    width: 53%;
    float: left;
}
.tier-tickets.editable {
    float: left;
    margin-left: 2%;
    width: 17%;
}
.event-tier-c {
    float: left;
    width: 100%;
}
.event-tier {
    float: left;
    width: 100%;
}
.tier-price.editable {
    width: 13%;
}
.add-tier.event-tier {
    color: #000;
}
.event-name.editable {
    position: relative;
    z-index: 9;
    margin-top: 36px;
    width: 48%;
}
.event-name.editable {
    position: relative;
    z-index: 9;
    margin-top: 14px;
    width: 48%;
}
#map-canvas {
    width: 100%;
    float: right;
    min-height: 276px;
    margin-left: 1%;
    background: rgb(168, 168, 168) !important;
}
.price-cost-calc-c {
    float: left;
    padding: 10px 12px;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.84);
    border-radius: 2px;
    padding: 26px;
}
.fixed {
	position:fixed;
	top: 60px;
}
.pc-tier-row {
    width: 100%;
    float: left;
}
.pc-tier {
    float: left;
    width: 30%;
}
.pc-qty-price {
    float: left;
    width: 40%;
    text-align: right;
}
.pc-total {
    float: left;
    width: 30%;
    text-align: right;
}
.pc-title, .pc-tier-c {
    float: left;
    width: 100%;
    margin: 0 0 20px;
}
.pc-title span.pc-val {
    float: right;
    font-size: inherit;
}
.pc-fee span {
    font-size: 13px;
    margin-left: 5px;
}
.addevent-content {
}
.publish {
    clear: both;
    float: right;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.77778rem;
  margin: 0 0 0.88889rem 0;
  padding: 0.44444rem;
  height: 2.05556rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }
  input[type="text"][disabled], fieldset[disabled] input[type="text"], input[type="password"][disabled], fieldset[disabled] input[type="password"], input[type="date"][disabled], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], fieldset[disabled] input[type="month"], input[type="week"][disabled], fieldset[disabled] input[type="week"], input[type="email"][disabled], fieldset[disabled] input[type="email"], input[type="number"][disabled], fieldset[disabled] input[type="number"], input[type="search"][disabled], fieldset[disabled] input[type="search"], input[type="tel"][disabled], fieldset[disabled] input[type="tel"], input[type="time"][disabled], fieldset[disabled] input[type="time"], input[type="url"][disabled], fieldset[disabled] input[type="url"], textarea[disabled], fieldset[disabled] textarea {
    background-color: #dddddd; }
  input[type="text"].radius, input[type="password"].radius, input[type="date"].radius, input[type="datetime"].radius, input[type="datetime-local"].radius, input[type="month"].radius, input[type="week"].radius, input[type="email"].radius, input[type="number"].radius, input[type="search"].radius, input[type="tel"].radius, input[type="time"].radius, input[type="url"].radius, textarea.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Add height value for select elements to match text input height */
select {
  height: 2.05556rem; }

/* Adjust margin for form elements below */
input[type="file"], input[type="checkbox"], input[type="radio"], select {
  margin: 0 0 0.88889rem 0; }

input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.44444rem;
  margin-right: 0.88889rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset {
  border: 1px solid #dddddd;
  padding: 1.11111rem;
  margin: 1rem 0; }
  fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.16667rem;
    margin: 0;
    margin-left: -0.16667rem; }
.form-label {
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 16px;
    float: left;
    width: 100%;
}
.form-section-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 23px;
    float: left;
    width: 100%;
}
.location-left {
    width: 100%;
    float: left;
}
.pccc-financials {
	color:#fff;
	
}

.pccc-title {
    margin-bottom: 16px;
    display:none;
    font-weight: bold;
    font-size: 19px;
    float: right;
    border-bottom: 1px solid rgb(100, 100, 100);
    width: 100%;
    text-align: right;
    padding-bottom: 2px;
    color: rgb(236, 236, 236);
}
#preview .article {
    width: 224px;
    height: 224px;
    background: rgba(0, 0, 0, 0.84);
    box-shadow: none;
    box-sizing: initial;
}
#sticky-sidebar {
    margin-top: 60px;
    width: 252px;
    float: right;
    top: 27px;
}
#preview {
    float: left;
    width: 100%;
}
#preview .overlay {
    background: none;
}
#id_last_date_picker {
    width: 48%;
}