@font-face,0,0,
{
font-family: Open Sans;
src: url('../fonts/OpenSans-Bold.ttf'),
     url('../fonts/OpenSans-BoldItalic.ttf'),
     url('../fonts/OpenSans-ExtraBold.ttf'),
     url('../fonts/OpenSans-ExtraBoldItalic.ttf'),
     url('../fonts/OpenSans-Italic.ttf'),
     url('../fonts/OpenSans-Light.ttf'),
     url('../fonts/OpenSans-LightItalic.ttf'),
     url('../fonts/OpenSans-Regular.ttf'),
     url('../fonts/OpenSans-Semibold.ttf'),
     url('../fonts/OpenSans-SemiboldItalic.ttf'),
}
html, body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
a, .link {
  -webkit-transition: color 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: color 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: color 0.1s ease-out;  /* Opera 10.50–12.00 */
          transition: color 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
a:hover {
}
#map-canvas {
    font-family: "Open Sans", sans-serif;
}
.header {
width: 100%;
height: 60px;
min-width: 1024px;
z-index: 9999;
top: 0;
position: relative;
}
.header-blur {
/* background: #000000 url("http://cdn29.elitedaily.com/wp-content/uploads/2013/11/EyD5tGTVbqJNGsLMCpLFWPg27jRFwSd4yd7uc4_kxDs-1.jpg") no-repeat center top fixed; */


display: none;
}
.header-bg {
background: #0F0F0F;
    
width: 100%;
position: absolute;

box-shadow: 0 0 3px rgba(0, 0, 0, 0.79);
border-bottom: 1px solid #1F1F1F;
height: 100%;
}
.header-menu {
    float: right;
    position: relative;
}
.header-menu a {
    color: #FFF;
    text-decoration: none;
    float: left;
    display: block;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 14px;
    border-left: 1px solid gray;
  -webkit-transition: background 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: background 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: background 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.header-menu a span {
    /* float: left; */
    clear: both;
    display: block;
    font-size: 15px;
    font-weight: 100;
}
.header-menu a:hover {
    background: rgba(255, 255, 255, 0.2);
}
.header-wrap {
    margin:0 auto;
    position: relative;
    padding: 0 18px;
}
.logo a{
    color: #FFFFFF;
    font-size: 36px;
    float: left;
    margin-bottom: 0;
    text-decoration: none;
    font-family: "Nothing You Could Do", cursive;
    padding: 6px 18px;
    background: url("../img/black_denim.png");
}
.nav-top-wrap {
    float: right;
    margin: 0;
    margin-bottom: 0;
    margin-right: 10px;
    border-right: 1px solid gray;
}
.nav-link {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    display: block;
    float: left;
    padding: 0;
    font-size: 17px;
    text-align: left;
    width: 200px;
}
.nav-link:first-child {
}
.container {
    clear: both;
    margin: 0 auto;
    padding: 0 0px;
}
.featured-container {
    width: 100%;
    background: #FFFFFF;
    margin-top: 0;
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
    /* border-bottom: 1px solid #DFDFDF; */
    margin-bottom: 10px;

}
.container .near-location:first-child {
}
.near-location, .popular, .nearly-funded, .recent {
    clear: both;
    width: 90%;
    position: relative;
    border-radius: 1px;
    min-height: 259px;
    margin: 0 auto;
}
.popular {
    padding-bottom: 9px;
}
.near-location {
}
.event {
    background: #FFFFFF;
    width: 242px;
    /* min-height: 270px; */
    display: block;
    margin-right: 16px;
    float: left;
    position: relative;
    color: white;
    border-radius: 1px;
    overflow: hidden;
    margin-bottom: 13px;
    border-radius: 1px;
    box-shadow: 0 0 3px #000;
    text-decoration: none;
    padding: 3px;
}
.featured-container .event {
    height: 300px;
}
.footer {
    margin-top: 0px;
    width:100%;
    height:20px;
    background: rgba(0, 0, 0, 0.79);
    clear: both;
    min-width: 1024px;
    position:relative;
    float: left;
}
.page-wrap {
min-height: 100%;
}

.going-to {
    width: 744px;
    float: left;
    border-radius: 2px;
}
.going-to .event {
    width: 234px;
    margin: 7px;
    height: 278px;
}
.manage-main {
    width: 1000px;
    padding: 0 12px;
    margin: 0 auto;
    display: block;
}
.white-box {
    width: 224px;
    float: right;
    margin-top: 66px;
    margin-bottom: 74px;
    padding-left: 9px;
    color: white;
}
.created {
    width: 764px;
    float: left;
    margin-top: 10px;
    border-radius: 2px;
    padding-bottom: 14px;
    margin-bottom: 10px;
}
.created .event {
    width: 732px;
    margin: 16px 16px 0;
    height: 232px;
    position: relative;
    min-height: 0;
}




/*dropdowns from mixitiup national parks */



.button,
.drop_down{
    display: inline-block;
    width: 107px;
    height: 31px;
    line-height: 30px;
    padding: 0 8px;
    background: #070707;
    vertical-align: middle;
    margin-right: 10px;
    color: #f9f6f0;
    text-transform: uppercase;
    cursor: pointer;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  
}

.drop_down{
    width: auto;
    margin: 0 0 0 0px;
    background: none;
    color: #000000;
    padding: 20px 6px;
    position: relative;
    letter-spacing: 2px;
    z-index: 999;
    height: 19px;
    /* margin-right: 11px; */
    /* margin-top: 21px; */
    border-left: 1px solid gray;
    border-radius: 0;
  -webkit-transition: background 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: background 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: background 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */


}
.drop_down:hover {
    background: rgba(255, 255, 255, 0.2);
}
.drop_down span{
    position: relative;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 33px;
}

.drop_down span::after,
.drop_down span::before{
    position: absolute;
    top: 0px;
    right: 20px;
    display: block;
    content: '';
    border: 9px solid rgba(0, 0, 0, 0);
    border-top: 9px solid #DADADA;
}


.drop_down ul{
    position: absolute;
    opacity: 0;
    max-height: 0;
    right: -14px;
    padding: 4px;
    text-align: right;
    overflow: hidden;
    
    
    margin: 0;
    font-size: 9px;
    padding-top: 14px;
    padding: 0;
    top: 60px;
    border: 1px solid #424242;
    border-top: none;
}

.drop_down:hover ul{
    opacity: 1;
    max-height: 300px;
}

.drop_down:hover span{
    color: #333;
}

.drop_down li{
    display: block;
    text-transform: none;
    color: #808080;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 10px;
    
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    transition: all 150ms;
}

.drop_down li:after{
    content: '';
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    top: 1px;
    margin-left: 6px;
    border: 1px solid #ccc;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.drop_down li:last-of-type{
    margin: 0;
}

.drop_down li:hover{
    color: #59514c;
}

.drop_down li.active{
    color: #e96d51;
    font-weight: 400;
}

.drop_down li.active:after{
    background: #e96d51;
    border-color: #e96d51;
}




.solo-form {
    width: inherit;
}
.solo-form input {
    clear: both;
    display: block;
    width: 97%;
    border: none;
    border: aliceblue;
    font-size: 16px;
    padding: 6px 1.5%;
    border-radius: 4px;
}
.solo-form input[type="submit"] {
    width: 50%;
    padding: 7px;
    border: none;
    margin: 10px auto;
    font-size: 15px;
    background: #B40000;
    color: white;
    letter-spacing: 1px;
}
#id_remember_me {
    clear: none;
    float: left;
    margin: 0;
    width: 24px;
}
.drop_down.wf .anim250 .dropdown-link {
    clear: both;
    display: block;
    white-space: nowrap;
    background: white;
    padding: 7px 9% !important;
    color: #333;
    text-decoration: none;
    font-size: 13px !important;
    text-align: center;
    border: none;
    width: 82%;
}
.event a {
    font-size: 26px;
    text-align: left;
    display: block;
    color: white;
    text-decoration: none;
    margin: 11px;
}

.created .event-img {
    width: 100%;
    overflow: hidden;
    top: 0;
    float: left;
    height: 100%;
}   
.event-img {
    width: 100%;
    height: 242px;
    overflow: hidden;
    top: 0;
}

.event-img img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    width: 100%;
    z-index: -1;
}
.event-info {
    font-size: 13px;
    color: #000;
    padding: 10px;
    position: absolute;
    bottom: 3px;
    background: rgba(0, 0, 0, 0.58);
    color: white;
    width: calc(100% - 26px);
}
.event-feature .event-info {
    top: 144px;
    background: rgba(0, 0, 0, 0.86);
    padding: 16px;
    font-size: 17px;
    left: 79px;
    text-decoration: none;
    float: left;
    width: auto;
    position: relative;
}
.event-feature .name {
font-size: 33px;
float: left;
}
.name {
    font-size: 19px;
    margin-bottom: 7px;
}
.event:hover .name {

}
.no-events {
    text-align: center;
    
    margin-top: 103px;
    font-size: 41px;
    color: #757575;
    font-weight: 100;
    margin-bottom: 38px;
}


.slide-container {
    width: 100%;
    position: relative;
    left: 0%;

    margin: 0;
    clear: both;
}



.slide{
    width: 993px;
    padding: 0;
    float: left;
}

.slide-left {
position: absolute;
left: 6px;
width: 16px;
background: #808080;
z-index: 30;
background: url("../img/arrows.png") 0 68px;
background-size: 16px;
top: 32%;
height: 68px;
cursor: pointer;
opacity:.3;
display:block;
}
.slide-right {
position: absolute;
right: 6px;
width: 16px;
background: #808080;
z-index: 30;
background: url("../img/arrows.png") 0 0px;
background-size: 16px;
top: 42%;
height: 68px;
cursor: pointer;
opacity:.3;
display:block;
}
.slide-right:hover, .slide-left:hover {
    opacity: 1
}

.slide .event:last-child {
    margin-right: 0;
}
.container-title {
    /* background: #000000; */
    float: left;
    margin: 29px 23px 24px;
    color: #DDD;
    font-size: 33px;
    letter-spacing: 2px;
    font-weight: 400;
}





#box-nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
#box-nav li a {
    padding: 10px 9px;
    display: block;
    text-decoration: none;
    color: #858585;
    cursor: pointer;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #C5C5C5;
}
#box-nav li a:hover {

    color: #333;
}
.profile-left .solo-form {
    border: none;
    background: white;
    width: 721px;
    padding: 22px;
    margin: 0;
}
fieldset {
    border: none;
}
.solo-form legend {
    font-size: 26px;
    font-weight: 100;
}
.profile-left {}
.created .event-info {
    width: 20%;
    right: 0;
    height: 188px;
    position: absolute;
    right: 3px;
    top: 3px;
    background: black;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    height: calc(100% - 26px);
}
.created .event-img img {
    width: 100%;
    height: auto;
    margin-top: -18%;
}

#box-nav li.selected a {
    color: #333;
}
.event-container {
    clear: both;
}
.thanks {
    width: 76%;
    font-size: 27px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 11px;
display:none;
}

.full-name {

    font-size: 20px;
}
.detail-c {
    margin: 9px;
}
.detail-c div {
    margin: 0 0 4px;
    color:#333;
}
.email {
    font-size: 14px;
        color: gray;

}
.username {
    font-size: 12px;
        color: gray;

}
.add-event {
    width: 732px;
    background: #E2E2E2;
    padding: 21px 0;
    font-size: 19px;
    border-radius: 4px;
    color: #333;
    display:block;
    text-align: center;
    text-decoration: none;
}
.add-event:hover {
    text-decoration:underline;
}
.add-event span {
    font-size: 17px;
}

.add-event span {
    font-size: 24px;
    margin-right: 12px;
    text-decoration: none !important;
}
.add-event a:hover {
    text-decoration: underline;
}
.forgot-password a {
    font-size: 12px;
    color: gray;
}
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    
#browse-container {
    float: left;
    width: calc(100% - 242px);
}

    .container-browse {
    width: calc(100% - 209px);
    float: left;
}
.sidebar-browse {
    float: right;
    width: 181px;
    background: rgba(255, 255, 255, 0.98);
    min-height: 500px;
    margin-top: 69px;
    color: #333;
    margin-right: 28px;
}
.browse-title {
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.browse-c {
}
.browse {
    padding: 13px 5%;
    border-top: 1px solid black;
    float: left;
    width: 90%;
}
.browse-term {
    padding: 1px 9px;
    font-size: 14px;
    cursor:pointer;
}
.browse-term:hover {

}

.signed-out {
    text-align:center;
    margin-top:100px
}
.container-browse .event {
    width: 234px;
}
.sl-c, .sr-c {
    display:none;
}.sl-c {
    background: #EBEBEB;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
}
.sr-c {
    right: 0;
    height: 100%;
    width: 28px;
    background: #E7E7E7;
    position: absolute;
    top: 0;
}
.slide-outer {
    float: left;
    position: relative;
    width: 100%;
}
.slide .event:first-child {
    margin-left: 34px;
}
.slide .event:last-child {
    margin-right: 13px;
}
.block-content {
    margin:0 auto;
    min-height: 100%;
    background: url("../img/whitedenim.png");

    overflow: auto;
    background-size: 20%;
}
.form-card {
    background: #424242;
    color: white;
    padding: 10px 30px;
    margin-top: 26px;
    width: 314px;
    margin: 30px auto;
    overflow: auto;
    border-radius: 7px;
}
.form-card h1 {
    margin-bottom: 0;
    font-weight: 100;
}
#id_remember {
    float: left;
    width: 14px;
    margin: 0 2px;
}
label[for="id_remember"] {
    display: inline;
    font-size: 14px;
    color: #383838;
    float: none !important;
    margin-left: 3px;
    position: absolute;
    left: 18px;
}
.form-card p {
    position: relative;
}
.secondaryAction {
    color: #808080;
    font-size: 14px;
    text-decoration: none;
    float: left;
    float: right;
}
.form-card a {
    color:white;
}
.solo-form button {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    background: #BE2929;
    color: white;
    clear: both;
    float: left;
    margin: 15px 0;
    outline:none;
}
#details a, #details p {
    clear:left;
    float:left;
    width: 100%;
    padding: 8px 0%;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}
#details a:hover {
    color: #ca0000;
}
.footer-landing .inner {
    width: 753px;
}
.footer-landing {
    display: block;
    float: left;
    width: 100%;
    padding: -5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.95);
    position: relative;
    background: #0F0F0F;
}
.footer-landing .logo {
    text-align: center;
    float: left;
    color: #E0E0E0;
    margin-top: 11px;
    font-size: 18px;
    margin-left: 17px;
    border-right: 1px solid #000000;
    padding-right: 10px;
    background: none;
    padding: 0;
    padding-right: 12px;
    /* font-weight: bold; */
    border-right: 1px solid rgb(70, 70, 70);
    padding-top: 1px;
}
.links {
    margin: 14px 0;
    float: left;
    font-size: 13px;
}
.link {
    color: #D8D8D8;
    text-decoration: none;
    margin: 0 21px;
    float: left;
}
.social-footer {
    float: left;
    margin: 14px;
    width: 17%;
    display: none;
}

.social-f-a {
    width: 36px;
    height: 35px;
    display: block;
    float: left;
    margin: 0 5px;
}

.social-f-a.twitter {
    background: url("../img/icons.png") -36px 0;
    background-size: 144px;
}
.social-f-a.instagram {
    background: url("../img/icons.png") -72px 0;
    background-size: 144px;
}
.social-f-a.facebook {
    background: url("../img/icons.png") -108px 0;
    background-size: 144px;
}
.logo {
    font-family: 'Nothing You Could Do', cursive;
    position: relative;
    z-index: 1;
    display: block;
    float: left;
}


.popup-container {
    background: rgba(0, 0, 0, 0.29);
    position:fixed;
    top:0;
    left:0;
    z-index: 997;
    width:100%;
    height:100%;
    display:none;
}

.popup-inner {
    margin:0 auto;
    margin-top:100px;
    width: 594px;
    min-height: 300px;
    background:white;
    text-align: center;
    border-radius: 3px;
    border: 10px solid #E9E9E9;
    padding: 0px;
    box-shadow: 0 0 5px black;
    overflow: auto;
}

.featured-container .container-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    color: white;
    z-index: 10;
}
.slide-feature {
    width: 9999px;
}
.event-feature {
    width: 1238px;
    display: block;
    height: 373px;
    overflow: hidden;
    float: left;
}
.event-info .location {
    float: left;
    width: 100%;
    display: block;
    font-size: 15px;
}

.event-feature img {
    position: absolute;
    width: 100%;
}

.event-feature .location {
    float: left;
    width: 100%;
}

.width-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 26px;
    background: #292929;
    background: url("../img/darkdenim.png");

    overflow: auto;
}

@media (max-width: 420px) {

.width-container {
    width:96%;
}

}
.head-splash {
    position:relative;
    min-height: 504px;
}
.bg-img {
    background: url("../img/manhattan.jpg") no-repeat center;
    width: 100%;
    height: 300px;
    background-size: cover;
    position: absolute;
    height: calc(100% + 60px);
    top: -60px;
}
.splash-tag {
    position: relative;
    top: 30px;
    left: 30px;
    color: white;
    float: left;
    padding: 6px;
    font-size: 33px;
    display: none;
}
.works {
    position: absolute;
    bottom: 104px;
    left: 50%;
    background: rgba(167, 22, 22, 0.79);
    color: white;
    padding: 16px 0;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    width: 192px;
    margin-left: -96px;
    text-align: center;
}
.splash-tag span {
    background: rgba(0, 0, 0, 0.82);
    float: left;
    clear: left;
    padding: 5px 13px;
}
.browse-c a {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 4px;
    font-size: 15px;
    margin-left: 10px;
}
.header-dropdown {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    /* height: 30px; */
    top: 0;
    z-index: 999;
    box-shadow: 0 0 3px black;
}
.header-dropdown .logo {
    margin-left: 18px;
}
.header-dropdown .logo a {
    font-size: 21px;
    padding: 3px 19px;
}
.header-dropdown .header-menu a span {
    display: none;
}
.header-dropdown .header-menu a {
    font-size: 16px;
}
.admin-panel {
    position: relative;
    width: 100%;
    float: left;
    display: block;
    margin-top: 30px;
}
.guestlist {
    float: left;
    width: 249px;
    height: 209px;
    overflow-y: scroll;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    margin-top: 10px;
}
.left-admin {
    float: left;
    padding: 10px;
    background: rgba(255, 255, 255, 0.93);
    width: 698px;
    min-height: 248px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
}
.stat-list {
    float: left;
    width: 306px;
    padding: 0 10px;
    font-size: 15px;
    margin-top: 10px;
}
.right-admin {
    width: 280px;
    float: left;
}
.admin-button {
    background: rgba(255, 255, 255, 0.93);
    width: 132px;
    margin-left: 4px;
    height: 132px;
    float: left;
    margin-bottom: 4px;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
}
.admin-title {
    font-size: 18px;
    padding-left: 27px;
    margin: 5px 0 3px;
}
.guest {
    float: left;
    width: 92%;
    padding: 0 4% 13px;
    font-size: 15px;
}
.guest span {
    float: right;
}
.stat-title {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}
.stat-title span.stat-val {
    float: right;
}
.header-dropdown .drop_down {
    height: 1px;
    padding-top: 13px;
    padding-bottom: 27px;
}
.header-dropdown .drop_down ul {
    top: 41px;
    right: -1px;
}
.admin-edit:after {
    background:url("../img/admin-edit.png") no-repeat;
    content:"";
    width: 60%;
    height: 100%;
    position: relative;
    display: block;
    background-size: 100%;
    margin: 14px auto;
}
.admin-funds:after {
    background:url("../img/admin-funds.png") no-repeat;
    content:"";
    width: 60%;
    height: 100%;
    position: relative;
    display: block;
    background-size: 100%;
    margin: 14px auto;  
}
.admin-share:after {
    background:url("../img/admin-share.png") no-repeat;
    content:"";
    width: 60%;
    height: 100%;
    position: relative;
    display: block;
    background-size: 100%;
    margin: 14px auto;
}
.admin-c {
    float: left;
}
.admin-title.guest-list-title {
    background: url("../img/guest-icon.png") no-repeat 3px 2px;
    background-size: 16px;
}
.sub-stat-c {
    float: left;
    width: 94%;
    margin-left: 6%;
    margin-bottom: 10px;
}
.sub-stat {
    width: 100%;
    float: left;
    margin-bottom: 6px;
}
.sub-stat-title {
    float: left;
    width: 48%;
}
.sub-stat-val {
    float: left;
    width: 26%;
    text-align: right;
}
.admin-title.event-stats-title {
    background: url("../img/stats-icon.png") no-repeat 2px 1px;
    background-size: 17px;
}
.admin-button span {
    position: absolute;
    bottom: 14px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.ab-title {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-top: 17px;
}
.event-info .date:after {
    background: url("../img/calendar_icon.png") no-repeat;
    content: "";
    width: 16px;
    height: 18px;
    float: left;
    background-size: 100%;
    margin-right: 10px;
}
.event-info .location:after {
    background: url("../img/map_icon.png") no-repeat;
    content: "";
    width: 16px;
    height: 18px;
    float: left;
    background-size: 100%;
    margin-right: 10px;
    margin-bottom: 7px;
}
.event-info .date {
    float: left;
    width: 100%;
    font-size: 15px;
    display: block;
    margin-bottom: 7px;
}
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}



/* FAQ */
.info-container {
    width: 980px;
    background: white;
    margin: 30px auto;
    padding-bottom: 60px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.13);
}
.info-container.about {
	font-style:italic;
}
.info {
}
.info-faq-q {
    font-weight: bold;
}
.info-faq-a {
    margin-top: 10px;
}
.about-title {
    padding: 40px 0px 30px;
    float: left;
    width: calc(100% - 80px);
    box-sizing: border-box;
    font-size: 30px;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin: 0 40px 30px;
}


.dropdown-link.logout {
    border-top: 1px solid rgb(207, 207, 207);
    margin-top: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dropdown {
	display:none;
	opacity:0;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.nav-dropdown:hover .dropdown {
	opacity:1;
	display:block;
}




.dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 999;
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.12);
    border-top: 0;
    width: 134px;
    padding: 4px 0px;
}
.dropdown-link {
    color: #363636;
    text-decoration: none;
    padding: 4px 4%;
    display: block;
    float: left;
    font-size: 15px;
    margin: 0 4%;
    width: 84%;
}
.dropdown-link:hover {
	background:#eee;
	text-decoration:none;
}

#nav {
    width: 70px;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.91);
    z-index: 999;
}
#nav.transparent {}
#revelraise {
    color: #fff;
    margin: 48px 1px 13px 13px;
    font-size: 28px;
    text-align: left;
    padding: 20px 0;
    font-family: "Nothing You Could Do", cursive;
}
#revelraise span {
    display:inline;
    display: none;
}
#main {
    width: calc(100% - 70px);
    float: right;
    overflow: hidden;
    position: relative;
}

.section {
    margin: 14px 0;
    width: 100%;
    float: left;
}
.article {
    float: left;
    width: 222px;
    height: 222px;
    position: relative;
    padding: 13px;
    text-decoration: none;
    overflow: hidden;
    margin-right: 8px;
    margin-bottom: 8px;
}
.overlay {
	background: rgba(0, 0, 0, 0);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	z-index: 1;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 76%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(35%,rgba(0,0,0,0)), color-stop(76%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 76%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 76%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 76%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 76%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
.article:hover .overlay {
    opacity: 0;

}
.article .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.article .title {
    position: relative;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 13px 0;
    text-shadow: 0px 0px 6px black;
    z-index: 3;
}
.article .info {
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px black;
    z-index: 3;
}
.article .location {
    position: absolute;
    right: 0;
    bottom: 13px;
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: white;
    bottom: 0;
    padding: 13px;
    /* background: rgba(0, 0, 0, 0.15); */
    z-index: 3;
}
.article:first-child {
    width: 478px;
    height: 478px;
}
.article .picture img {
    min-width: 118%;
    height: 100%;
    margin-left: -16%;
}
.nav-link .nav-icon {
    width: 14px;
    height: 60px;
    float: left;
    display: block;
    position: relative;
}
.login-register {
    float: right;
    color: white;
    text-decoration: none;
    margin-right: 0;
    padding-top: 20px;
    font-size: 16px;
    padding-left: 0px;
    padding-bottom: 22px;
    padding-right: 10px;
}
.nav-link .nav-home:after {
    background: url("../img/nav/home.svg") no-repeat 0;
    background-size: 100%;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.nav-link .nav-browse:after {
    background: url("../img/nav/location.svg") no-repeat 0;
    background-size: 100%;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.nav-link .nav-profile:after {
    background: url("../img/nav/document.svg") no-repeat 0;
    background-size: 100%;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.nav-link .nav-addevent:after {
    background: url("../img/nav/document-edit.svg") no-repeat 0;
    background-size: 100%;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.nav-link .nav-settings:after {
    background: url("../img/nav/gear.svg") no-repeat 0;
    background-size: 100%;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.nav-link .nav-title {
    float: left;
    margin: 20px 10px;
    font-size: 16px;
}
.title {
    margin: 22px 0 0;
    color: rgb(17, 17, 17);
    font-size: 46px;
    float: left;
}

#browse-header {
background: #fff;
width: 242px;
float: right;
margin-top: 100px;
}
.fixed {
	position: fixed;
	top: -10px;
	z-index: 799;
	right: 123px;
}
.ticket {
    float: left;
    width: 204px;
    height: 200px;
    position: relative;
    padding: 13px;
    text-decoration: none;
    margin-bottom: 30px;
}
.ticket .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ticket .title {
    position: relative;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 13px 0;
    z-index: 1;
}
.ticket .info {
    position: relative;
    color: white;
    z-index: 1;
}
.ticket .location {
    position: absolute;
    right: 0;
    bottom: 13px;
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: white;
    bottom: 0;
    padding: 13px;
    z-index: 1;
}

.ticket .picture img {
    min-width: 100%;
    height: 100%;
    margin-left: -16%;
}
.uptop #nav {
    height: 60px;
    width: 100%;
}
.uptop #revelraise {
    margin: 0;
    padding: 10px 10px 6px;
    float: left;
    text-decoration:none;
    font-size: 33px;
}
.uptop #nav-width {
    width: 1024px;
    margin: 0 auto;
}
.uptop #revelraise span {
    display: inline;
}
.uptop #nav-container {
    float: right;
    width: 715px;
}
.uptop .nav-link {
    width: auto !important;
    float: right;
    margin-right: 15px;
    position: relative;
}
.uptop .nav-link:hover {
	color:#fff
}
.uptop #main {
    padding-top: 60px;
    width:100%;
    padding-bottom: 60px;
}
.uptop #main-width {
    width:1024px;
    margin:0 auto;
    position: relative;
}
#search input[type="text"] {
    margin: 0;
    border: none;
    font-size: 14px;
    font-weight: 100;
    float: left;
    padding: 12px;
    border-radius: 0;
    width: 70%;
}
#search input[type="submit"] {
    border: none;
    background: white;
    font-size: 14px;
    border-left: 1px solid gray;
    margin: 0;
    padding: 12px 13px;
    float: right;
    border-radius: 0;
    width: 30%;
}
#search {
    float: left;
    display: block;
    width: 100%;
}
#your-location div {
    display: inline;
}
#your-location .location-icon {
    background: url("../img/direction.svg") no-repeat 0px 1px;
    width: 16px;
    height: 18px;
    display: block;
    float: left;
    background-size: 100%;
    margin-right: 8px;
    opacity: .7;
}
#your-location {
    float: left;
    margin-top: 45px;
    margin-left: 13px;
    font-size: 15px;
}

.tier {
    float: left;
    clear: both;
    width: calc(100% - 26px);
    background: rgb(34, 34, 34);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    color: white;
    text-align: center;
    padding: 4px 13px;
}