.header {
}
.event-main {
float: left;
width: 100%;
/* min-height: 145px; */
/* min-width: 1024px; */
}
.event-main-wrap {
    width: 100%;
    padding: 30px 0 0;
    margin: 0 auto;
    position: relative;
    float: left;
}
.event-name {
    color: white;
    font-size: 29px;
    float: left;
    width: 44%;
    text-shadow: 1px 1px 1px black;
    margin: 0 3px 0;
    z-index: 1;
    position: relative;
}
.event-bottom {
    clear: both;
}
.event-video iframe {
    width: 100%;
    height: 494px;
}
.event-bottom {
    width: 100%;
    padding: 0 0px;
    margin: 0 auto;
    float: left;
}
.event-bottom-container {
    width: 1000px;
    margin: 0 auto;
    z-index:1;
    display: block;
    position: relative;
    padding: 0 12px 12px;
    overflow: auto;
}

.event-left {
    width: 99.4%;
    float: left;
    padding: 0 .3%;
}
.event-right {
    width: 97%;
    float: left;
    padding: 0 12px;
}
.event-description, .location-info, .event-stats, .publish, .ticket-pay {
    background: rgba(19,19,19, 1);
    color: #FFF;
    padding: 16px 2%;
    line-height: 26px;
    margin-bottom: 8px;
    overflow: auto;
    position: relative;
    border-radius: 1px;
    float: left;
    width: 100%;
    border: 1px solid rgba(19,19,19);
    box-sizing:border-box;
}
.ticket-pay {
	width: 32.7%;
	margin: 0 .3%;
    
    
	color: #FFF;
    
	padding: 16px 1%;
    line-height: 26px;
    margin-bottom: 8px;
    
    position: relative;
    border-radius: 1px;
    float: left;
	border:none;
    
	padding-bottom: 34px;
	cursor: pointer;
  -webkit-transition: background 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: background 0.1s ease-out;  /* Opera 10.50–12.00 */
          transition: background 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	border: 1px solid rgba(0, 0, 0, 0.86);
	text-decoration: none;
	box-sizing: border-box;
}
.ticket-pay:hover .purchase-logo {
    background: #292929;
}

.purchase-logo {
    margin: 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
    
	    
    
    width: 100%;
    background: #3F3F3F;
    padding: 4px 0 9px;
    cursor: pointer;
    border-radius: -11px;
	    text-align: center;
	    
    height: 19px;
	    font-size: 34px;
	    text-shadow: none;
  -webkit-transition: background 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: background 0.1s ease-out;  /* Opera 10.50–12.00 */
          transition: background 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    line-height: 16px;
    color: rgb(49, 206, 49);
}
.event-tier {

}

.publish {
text-align: center;
font-size: 22px;
letter-spacing: 10px;
cursor: pointer;
}
.tier-price {
    float: right;
    font-size: 22px;
    text-align: right;
    margin-left: 30px;
    margin-bottom: 23px;
}

.tier-description {
    /* float: left; */
    font-size: 18px;
    /* width: 100%; */
    /* margin-top: 14px; */
}
.event-main-right {
    float: right;
    color: white;
    margin-top: 13px;
    text-shadow: 1px 1px black;
    position: relative;
    z-index: 999;
    margin-right: 9px;
}
.event-percent {
    float: right;
    font-size: 21px;
    margin-left: 3px;
}
.event-main-location {
    float: right;
    clear: left;
    font-size: 15px;
    margin-right: auto;
    padding-right: 8px;
    border-right: 1px solid white;
    margin: 4px;
}
.event-video {
    float: left;
    margin-top: 16px;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    position: relative;
}

#edit-event {
    background: gray;
    cursor:pointer;
    float:right;
}
#save-event {
    background: gray;
    cursor:pointer;
    float:right;
}



.event-name span {
    padding: 3px 0;
    float: left;
}




.video-uploader {
}



.ticket-delete {
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 18px;
    top: 60px;
    height: 36px;
    border: none;
    width: 48px;
    background: #64B7D8;
    padding: 0 0 7px;
    cursor: pointer;
    border-radius: -11px;
}
.ticket-pay:hover {
}

.event-pic {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    min-height: 147px;
    min-width: 1024px;
    height: 100%;
}
.event-pic img {
    width: 100%;
    position:relative;
    min-height: 100%;
}












/* STRIPE */



.panel {
    color: #333;
}
.field-wrapper .field-field input {
    width: 100%;
    font-size: 15px;
    padding: 6px 4px;
}
.field-wrapper {
    width: 92%;
    margin: 4%;
}
.close {
}
#purchase-form input[type="submit"] {
    width: 92%;
    margin: 4%;
    background: #3FA3F1;
    border: none;
    font-size: 20px;
    padding: 7px 0px;
    border-radius: 3px;
}


.qty {
	color: #999999;
	clear:both;
	display:block;
	font-size:12px;
	margin-bottom: 8px;
	float: right;
}
.event-tiers {
    margin-top: 16px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.edit-embed-close {
    float: right;
    margin: 0 10px 10px;
    font-size: 11px;
    cursor: pointer;
}
.event-pic-blur {
    height: 59px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-filter: blur(8px);
    left: 0;
}
.event-pic-blur img {
    width: 100%;
    height: auto;
}

#map-canvas {
width: 75%;
height: 269px;
float: right;
}


@media (max-width: 420px) {

.event-bottom-container {
    width: 96%;
    padding:0 2% 12px;
}

.ticket-pay {
	width:98%;
}
.event-video iframe {
width: 100%;
height: 229px;
}

}

.event-description p {
    margin-top: 0;
}