html, body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background: white;
}
.content {
float: left;
overflow:hidden;
width:100%;
}
#container {
	width: 100%;
}

.scene {
	width: 100%;
}
.logo {
text-align: left;
margin-left: 10px;
float: left;
}
.logo a {
padding: 8px;
display: block;
float: none;
margin: 0;
font-weight: 100;
color: #FFFDFD;
}

.one {
	background: url("../img/brooklyn.jpg") no-repeat center top;
	width: 100%;
	height: 636px;
	position: relative;
	background-size: cover;
}
.two {
	background: url("../img/purpskurp.jpg") no-repeat;
	background-size: 100% auto;
	height: 604px;
	position: relative;
	overflow: hidden;
	display: none;
}
.three {
	background: url("../img/three.jpg") no-repeat;
}
.header {
	background:none;
	/* box-shadow: 0 0 10px black; */
	width:100%;
	position: relative;
	border:none;
	min-width: 860px;
}
.header-blur {
	/* background: url("../img/oneheader.jpg") no-repeat center top; */
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
.header-bg {
	background: rgba(0, 0, 0, 0.67);
	border:none;
	position: absolute;
	width: 100%;
	height: 100%;
}
.slogan {
	width: 355px;
	margin-left: 37px;
	padding: 22px 36px;
	float: left;
	border-radius: 3px;
}
.theparty {
	font-size: 62px;
	color: #000;
	font-weight: 200;
}
.theparty span {
    background: rgba(0, 0, 0, 0.54);
    float: left;
    padding: 5px 14px;
    color: white;
}
.get {
}
.party {

}
.make {
	display: none;
}
.inner {
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-width: 860px;
}


.title {
	font-size: 23px;
}

.one-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* box-shadow: 0 0 10px black; */
	min-height:140px;
	height: 205px;
	display: none;
}
.one-bottom-blur {
	/* background: url("../img/onebottom.jpg") center top; */
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-size: 100% 100%;
}
.one-bottom-bg {
    /* background: rgba(0, 0, 0, 0.29); */
    width: 100%;
    height: 100%;
    position: absolute;
}
.one-bottom-c {
	/*background: rgba(0, 0, 0, 0.5);*/
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
}
.event-container {
	width: 9999px;
}
.one .inner {
    padding-top: 51px;
    max-width: 1024px;
}
.one-bottom .inner {
	margin-top: 0;
	padding-top: 0;
	max-width: 100%;
}
.event-slider {
	width: 70%;
}
.event.event-large {
	width: 30%;
	height: 290px;
	margin-top: -90px;
}
.event {
	width: 190px;
	height: 190px;
	background: #F5F5F5;
	float: left;
	margin: 10px 10px;
}
.one-bottom .title {
	font-size: 19px;
	margin: 28px 21px 0px;
	color: #FFFFFF;
	font-weight: 600;
	float: left;
}
.two-upper {
	border-top: 10px solid #303030;
	/* background: rgba(0, 0, 0, 0.58); */
	text-align: center;
	position: relative;
	/* box-shadow: 0 5px 10px -7px black; */
}
.two-container .title {
	font-size: 48px;
	padding: 17px 17px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.86);
	margin-top: 65px;
	margin-left: 30px;
	border-radius: 3px;
	font-weight: 200;
	float: left;
}

.two-bottom {
	position: absolute;
	top: 0px;
	width: 100%;
}
.two-upper-blur {
	/* background: url("../img/twoupperblur.jpg"); */
	position: absolute;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
.two-upper-bg {
    position: relative;
	
    background: url("http://images.forwallpaper.com/files/images/7/75e2/75e2f43c/224943/blur-the-line-color-blue-purple.jpg");
    width: 100%;
    position: absolute;
    background-size: 100%;
    height: 100%;
}
.two-bottom-blur {
	/* background: url("../img/twobottomblur.jpg"); */
	
	position: absolute;
	width: 100%;
	height: 100%;
}
.two-bottom-bg {
    /* background: black; */
    /* background: rgba(255, 255, 255, 0.18); */
	
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
}
.storyboard {
	width: 33%;
	float: left;
	/* position: absolute; */
	background: rgba(255, 255, 255, 0.39);
	border-radius: 300px;
	height: 340px;
	-webkit-transform: scale(.6);
	box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.64);
}
.caption {
	color: #000;
	text-align: center;
	font-size: 34px;
	font-family: 'Nothing You Could Do', cursive;
}
.icon {
	background: white;
	width: 136px;
	height: 154px;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 16px;
}
.icon.plan {
	background: url("../img/storyboard_plan.png") no-repeat;
	background-size: 100%;
}
.icon.raise {
	background: url("../img/storyboard_raise.png") no-repeat;
	background-size: 100%;
}
.icon.live {
	background: url("../img/storyboard_live.png") no-repeat;
	background-size: 100%;
}


.event-container .event:nth-child(4) {
    /* height: 304px; */
    /* margin-top: -90px; */
    /* width: 304px; */
}
.event-container .event {
background: #C2C2C2;
width: 129px;
height: 129px;
display: block;
margin-right: 3px;
border: 1px solid #FFF;
}

.create-event-link {
    background: rgba(255, 255, 255, 0.53);
    color: #000;
    padding: 12px 0;
    text-decoration: none;
    border-radius: 3px;
    border-bottom: 2px solid #000;
    /* border-top: 1px solid #FF9494; */
    clear: both;
    position: absolute;
    bottom: -61px;
    left: 62%;
    text-align: center;
    width: 20%;
    font-weight: 400;
    font-size: 21px;
}
.create-event-link:hover {
	color:white;
}

.footer-landing {
    background: black;
    color: white;
}
.footer-landing .logo {
    color: white;
    border-right: 1px solid #3D3D3D;
}
.link {
    color: white;
}
.footer-landing .inner {
    width: 100%;
}
.create-event-link:active {
    margin-top: 2px;
    border-bottom: 0;
}

.sign-in-c {
	float: right;
	width: 308px;
	margin-left: 10px;
	margin-right: 70px;
	position: relative;
	/* box-shadow: 0 0 10px black; */
}


/*** SignupBox CSS ***/
.sign-in-c {

}
.sign-in-blur {
    /* background: url("../img/onesignin.jpg"); */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sign-in-bar {
    height: 0;
    background: rgba(0, 0, 0, 0.74);
    position: relative;
    border-radius: 1px 1px 0 0;
}
.sign-in {
    position: relative;
    background: rgba(255, 255, 255, 0.86);
    border-radius: 3px;
    padding-bottom: 10px;
}
.signin-button span {
    margin-top: 11px;
    display: block;
    float: left;
}
.login-email, .login-password {
    clear: left;
    width: 88%;
    margin: 0 auto;
}
.log-in-c input, .signup-email input {
    clear: both;
    width: 96%;
    border: 1px solid #D8D8D8;
    font-size: 21px;
    margin-top: 7px;
    border-radius: 3px;
    padding: 3px 2%;
    outline: none;
}
.log-in-c button[type="submit"], .signup-email button[type="submit"] {
    clear: both;
    width: 89%;
    background: rgba(0, 0, 0, 1);
    border: none;
    color: #FFF;
    margin: 44px auto 0;
    font-size: 18px;
    border-radius: 1px;
    padding: 9px 0;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    font-weight: 200;
    outline:none;
    display: block;
}
.login-email input, .login-password input {
    width: 94%;
    border: none;
    padding: 6px 3%;
    font-size: 18px;
    color: #141414;
    border-radius: 1px;
}
.log-in-c {
    padding: 0px 18px 18px;
    display:block;
    clear: both;
}
#signup-form {
	display:none;
}
.log-in-c p {
    margin: 12px 0 6px;
    font-weight: 300;
    font-size: 22px;
    color: #000;
    position: relative;
}
.signup-login {
	float: left;
	display: block;
	width: 100%;
	height: 47px;
	margin-bottom: 18px;
}
.social-container {
	clear: both;
}
.sl-title.selected {
	background: none;
}
.sign-in-sep {
	margin: 0 auto;
	width: 100%;
	position: relative;
	font-size: 21px;
	font-weight: 200;
	color: #000;
	text-align: center;
	margin-bottom: 8px;
}
.sl-title {
	font-size: 23px;
	font-weight: 300;
	background: rgba(0, 0, 0, 0.05);
	float: left;
	width: 50%;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
  -webkit-transition: background 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: background 0.1s ease-out;  /* Opera 10.50–12.00 */
          transition: background 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	color: #000000;
}
.sl-title:not(.selected):hover {
	background:rgba(0,0,0,.07)
}
.signin-button {
	background: #242424;
	width: 200px;
	margin: 0px auto 10px;
	height: 42px;
	width: 248px;
	color: white;
	cursor: pointer;
	border-radius: 1px;
	display: block;
	clear: both;
	position: relative;
  -webkit-transition: background 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: background 0.1s ease-out;  /* Opera 10.50–12.00 */
          transition: background 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}
.signin-button:hover {
	color:white;
}
.signin-button:active {
	top: 1px;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.signin-button.facebook {
    background: #3F5A8F;
}
.signin-button.twitter {
    background: #3da9d8;
}
.signin-button.google {
    background: #db4c39;
}
.signin-button.facebook:hover {
    background: #3F5A8F;
}
.signin-button.twitter:hover {
    background: #3da9d8;
}
.signin-button.google:hover {
    background: #db4c39;
}
.signin-button.mail:hover {
    background: #000;
}
.mail .social-icon {
    background: url("../img/mail_icon_w.png") no-repeat 9px 8px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 25px;
    padding: 6px;
    margin-right: 7px;
    border-right: 1px solid #D3D3D3;
}
.facebook .social-icon {
    background: url("../img/facebook_icon.png") no-repeat 9px 8px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 25px;
    padding: 6px;
    margin-right: 7px;
    border-right: 1px solid #4D6DAC;
}
.twitter .social-icon {
    background: url("../img/twitter_icon.png") no-repeat 9px 8px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 25px;
    padding: 6px;
    margin-right: 7px;
    border-right: 1px solid #4EBEEE;

}
.google .social-icon {
    background: url("../img/google_icon.png") no-repeat 10px 9px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 25px;
    padding: 6px;
    margin-right: 7px;
    border-right: 1px solid #FA624E;

}

#signup-form, #login-form {
	display:none;
}
/*********************/


.seemore {
    margin-top: 31px;
    float: left;
    font-size: 14px;
    color: #79BEDF;
}

#signup-form #signup_form p {
    font-size: 18px;
    margin-bottom: 0 !important;
    margin-top: 8px;
}
#signup-form input {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 3px;
}
