@font-face
{
font-family: Open Sans;
src: url('../fonts/OpenSans-Bold.ttf'),
     url('../fonts/OpenSans-BoldItalic.ttf'),
     url('../fonts/OpenSans-ExtraBold.ttf'),
     url('../fonts/OpenSans-ExtraBoldItalic.ttf'),
     url('../fonts/OpenSans-Italic.ttf'),
     url('../fonts/OpenSans-Light.ttf'),
     url('../fonts/OpenSans-LightItalic.ttf'),
     url('../fonts/OpenSans-Regular.ttf'),
     url('../fonts/OpenSans-Semibold.ttf'),
     url('../fonts/OpenSans-SemiboldItalic.ttf'),
}
body {
  margin:0;
  padding:0;
  
  font-family: "open sans";
  background:black;
}
.tapcard-prev {
  
    display: block;
    font-size: 66px;
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
    color: #000;
    margin-bottom: 11px;
     
    text-shadow: 0 0 25px #FFF; 
}
form {
    width: 63%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 27px;
    box-shadow: 0 0 99px rgba(255, 255, 255, 0.5);
}
label {
    display: none;
}
#id_password {
    border: none;
    background: rgba(0, 0, 0, 0.77);
    width: 86%;
    font-size: 19px;
    padding: 6px 9px 6px;
    color: #FFF;
    float: left;
    text-align: left;
    border-radius: 3px 0px 0px 3px;
    outline:none;
    border-right: 1px solid #3A3A3A;
}
input[type="submit"] {
    background: white;
    border: none;
    font-size: 24px;
    float: left;
    width: 13%;
    background: rgba(0, 0, 0, 0.77);
    border-radius: 0 3px 3px 0px;
    outline:0;
    border-left: none;
    color: #E9E9E9;
    padding: 1px 0px 5px;
    border-left: 1px solid #000;
}

p {
    margin: 0;
    float: left;
    display: block;
    clear: none;
}
.container {
    width: 422px;
    margin: 59px 84px;
     
    background: rgba(255, 255, 255, 0); 
    padding: 26px 49px 23px;
    position: relative;
    z-index: 999;
    overflow: auto;
    /* border: 1px solid black; */
    /* box-shadow: 0 0 108px 38px rgba(0, 0, 0, 0.54) inset; */
    /* background: url("../img/splashblur.png"); */
    border-radius: 11px;
    background-size: 100%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.21); */
}



.homescreen {
width: 100%;
height: auto;
position: absolute;
-webkit-transform-origin: 50% 50%;
opacity: .95;
background-image: url("../img/justice_concert.jpg");
background-repeat: no-repeat;
background-size:100%;
top:0;
min-width:1024px
}



/*effects*/

#controlcenter {
  width: 100%;

  max-width: 443px;
  height: 80%;
  top: 20%;
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
z-index: 3;
-webkit-transition: top 1s;
}


h1 {font-family: "Helvetica Neue";
font-weight: 100;
font-size: 3em;
text-align: center}

#homescreen2 {
-webkit-filter: blur(10px);
overflow: hidden;
z-index: 1

} 

#homescreen1 {
z-index: 2;
overflow: hidden;
-webkit-transition: height 1s;
opacity:0

}

.gradient {
  width:100%;
  height:100%;
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top,  #000000 0%, #3a3a3a 49%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(49%,#3a3a3a), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #000000 0%,#3a3a3a 49%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #000000 0%,#3a3a3a 49%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #000000 0%,#3a3a3a 49%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #000000 0%,#3a3a3a 49%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  position: absolute;
  left: 0;
  top: 0;
  opacity: .7;
  
  
}
.inner {
    position: relative;
    z-index: 999;
    opacity:1;
}

.bg {
  /* background:url("../img/cross.png"); */
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background-size: 34%;
  opacity: 1;
  /* background: rgba(255, 255, 255, 0.94); */
  /* box-shadow: 0 0 10px 9px #000; */
}

.wrapperloading {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -75px;
}

.wrapperloading .loading.up {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 150px;
  border: 3px solid #fff;
  border-top-color: #fff;
  border-left-color: #555;
  border-right-color: #555;
  border-bottom-color: #fff;
  -webkit-animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
}

.wrapperloading .loading.down {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  margin-top:-25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 150px;
  border: 3px solid #fff;
  border-left-color: #fff;
  border-top-color: #555;
  border-bottom-color: #555;
  border-right-color: #fff;
  -webkit-animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -o-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (max-width: 718px) {
  .container {
    width:70%;
    margin:59px auto;
  }
  
  
  
  
}
@media (max-width: 549px) {
  .tapcard-prev {
  font-size: 70px;
  text-align: center;
}
  form {
    margin:0 auto;
  }
  
}

.bar {
    width: 100%;
	
    clear: both;
    background: #940000;
    height: 10px;
    position: relative;
    display: none;
}
