<script>
$(function() {
	$(".popup-box").click(function(e, eventcreation) {
		e.preventDefault();
		href = $(this).attr("href")
		$(".popup-container").css("opacity", 0).show().fadeTo(100, 1)
		//$(".popup-inner").html("<a href='"+href+"'>"+href+"</a>")

		if (href=="/accounts/login/") {
			$("#signup-form").hide();			
			$("#login-form").show();

		}else if (href=="/accounts/signup/" || eventcreation) {
			$("#login-form").hide();
			$("#signup-form").show();

		}else if (href=="/accounts/logout/") {
			$(".sign-in").hide()
			$("#logout-form").show()
		}
		
	})
	$(".popup-container").click(function() {
		$(".popup-container").fadeTo(300, 0, function() {
			$(this).hide()
		})
	})
	$(".popup-inner").click(function(event){
	  event.stopPropagation();  
	});
	$(".create-account").click(function() {
		$("#login-form").toggle();
		$("#signup-form").toggle();
	})
})
</script>
<div class="sign-in-c">
	<div class="sign-in">
		{% load i18n %}
		{% load account %}
		{% load url from future %}
		<div class="sign-up-c">
			<div class="social-container">
				{% load socialaccount %}
				<a class="signin-button facebook" href="{% provider_login_url 'facebook' %}"><div class="social-icon"></div><span>Sign in with Facebook</span></a>
				<a class="signin-button twitter" href="{% provider_login_url 'twitter' %}"><div class="social-icon"></div><span>Sign in with Twitter</span></a>
				<a class="signin-button google" href="{% provider_login_url 'google' %}"><div class="social-icon"></div><span>Sign in with Google</span></a>
			</div>
			<div class="email-container">
				<div class="signin-button mail"><div class="social-icon"></div><span>Sign in with Email</span></div>
			</div>						
		</div>
		<div class="log-in-c" id="signup-form">
			<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			  {% csrf_token %}
			  {{ signup_form.as_p }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button type="submit">Sign Up</button>
				<div class="create-account">Have an account?</div>

			</form>
		</div>
		<div class="log-in-c" id="login-form">
			<form class="login" method="POST" action="{% url 'account_login' %}">
			  {% csrf_token %}
			  {{ form.as_p }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
				<div class="create-account">Create an account</div>
			</form>
		</div>
	</div>		
	<div class="log-out-c" id="logout-form">
		<form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
		  {% endif %}
		  <button type="submit">{% trans 'Sign Out' %}</button>
		</form>			
	</div>				
</div>
