<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    	<link rel="icon" type="image/png" href="{{STATIC_URL}}img/rr_fav.png">
		<title>{% block title %}RevelRaise{% endblock %}</title>
		<script src="{{STATIC_URL}}js/jquery.js"></script>
		<script src="{{STATIC_URL}}js/base.js"></script>
		<script src="{{STATIC_URL}}js/jquery.bxslider.min.js"></script>
 		{% block extrahead %}{% endblock %}
		<link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/accountbox.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}js/jquery.bxslider.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>

	</head>
	<body class="uptop">
		<div class="page-wrap">
		{% block navbar-top %}
			{% include "base/navbartop.html" %}
		{% endblock %}
		<div class="block-content">
			<div id="main">
				<div id="main-width">
					{% block content %}
					<div class="container">
						<h1>!</h1>
					</div>
					{% endblock %}
				</div>
			</div>
		</div>
		<div class="popup-container">
			<div class="popup-inner">
			{% block account-box %}
				{% include "base/accountbox.html" %}
			{% endblock %}
			</div>
		</div>
		</div>	
		{% block navbar-bottom %}
			{% include "base/navbarbottom.html" %}
		{% endblock %}
	</body>
</html>