<script>
	$(function() {
		
			$(".nav-link").css("width", "130px")

		$("#nav").hover(function() {
			if ($("body").hasClass("uptop")) return
			$(this).stop().animate({"width":"201px"}, 100)
			$("#main").stop().animate({"left":"131px"}, 100)
			setTimeout(function() {
				$("#revelraise span").fadeTo(1, 50)
			}, 150)				
		}, function() {
			if ($("body").hasClass("uptop")) return
			$(this).stop().animate({"width":"70px"}, 100)
			$("#main").stop().animate({"left":"0px"}, 100)
			$("#revelraise span").fadeTo(0, 50, function() {
				$("#revelraise span").hide()
			})				
		})
		
		/*
		$(".nav-link").hover(function() {
			if ($("body").hasClass("uptop"))
			$(this).stop().animate({"width":"130px"}, 30)
		}, function() {
			if ($("body").hasClass("uptop"))
			$(this).stop().animate({"width":"70px"}, 30)
		})
		*/
		$(".nav-dropdown").hover(function() {
			$(".")
		}, function() {
			
		})
	})
</script>
<div id="nav">
	<div id="nav-width">
		<a href="/" id="revelraise">R<span>evel</span>R<span>aise</span></a>
		<div id="nav-container">
			{% if user.is_authenticated %}
			<div class="nav-link nav-dropdown" href="#">
				<div class="nav-icon nav-settings"></div>
				<div class="nav-title">Account</div>
				<div class="dropdown">
					<a class="dropdown-link" href="/{{user.username}}">My Tickets</a>
					<a class="dropdown-link" href="/addevent">Create Event</a>
					<a class="dropdown-link" href="/">Settings</a>
					<a class="dropdown-link logout" href="/accounts/logout">Logout</a>
				</div>
			</div>			
			<!--
			<a class="nav-link" href="/settings">
				<div class="nav-icon nav-settings"></div>
				<div class="nav-title">Settings</div>
			</a>
			<a class="nav-link" href="/addevent">
				<div class="nav-icon nav-addevent"></div>
				<div class="nav-title">Create</div>
			</a>
			<a class="nav-link" href="/{{user.username}}">
				<div class="nav-icon nav-profile"></div>
				<div class="nav-title">Tickets</div>
			</a>	
			-->		
			{% else %}
			<a class="login-register popup-box" href="/{{user.username}}">
				<div class="nav-icon nav-profile"></div>
				<div class="nav-title">Login/Signup</div>
			</a>
			{% endif %}
			<a class="nav-link" href="/browse">
				<div class="nav-icon nav-browse"></div>
				<div class="nav-title">Browse</div> <!-- Feed -->
			</a>
			<a class="nav-link" href="/">
				<div class="nav-icon nav-home"></div>
				<div class="nav-title">Home</div> <!-- Feed -->
			</a>
		</div>
	</div>
</div>
