
<div class="footer-landing">
	<div class="inner">
		<div class="logo">RevelRaise</div>
		<div class="links">
			<a href="/about" class="link">About</a>
			<a href="/faq" class="link">FAQ</a>
			<a href="/jobs" class="link">Jobs</a> <!--- for job inquiries contact careers@revelraise.com -->
			<a href="/contact" class="link">Contact</a> <!--- for press inquiries contact info@revelraise.com -->
			<a href="/terms" class="link">Terms</a> <!--- see lawyer (rohan) -->
			<!--<a href="/press" class="link">Press</a> <!--- for press inquiries contact press@revelraise.com -->
		</div>	
		<div class="social-footer">
			<a href="#" class="social-f-a twitter"></a>
			<a href="#" class="social-f-a instagram"></a>
			<a href="#" class="social-f-a facebook"></a>
		</div>			
	</div>
	
</div>
