{% extends 'base/base.html' %}

{% block content %}
	<!--
		<div class="profile">
			<div id="details">
				<p>{{user.first_name}} {{user.last_name}}</p>
				<p>{{user.email}}</p>
				<a href="/accounts/email">Email</a>
				<a href="/accounts/password/change">Password Change</a>
			</div>
		</div>
	-->
	<div class="title">Tickets</div>
	<div class="section">
		{% if events_going %}
			{% for ticket in tickets %}
			<a class="ticket" href="/event/{{ ticket.event_id.id }}/">
				<div class="overlay"></div>
				<div class="picture"><img src="{{static_url}}/static/{{ ticket.event_id.pic }}" alt=""></div>
				<div class="title">{{ ticket.event_id.evname }}</div>
				<div class="info">
					<div class="venue">{{ ticket.event_id.location }}</div>
					<div class="date-time">
						<div class="date">{{ ticket.event_id.last_date }}</div>
						<div class="time">@ 8:00PM</div>                  
					</div>
				</div>
				<div class="location">Vancouver, Canada</div>
				<div class="tier">Tier {{ ticket.event_tier }}</div>
			</a>
			{% endfor %}
		{% else %}
				<div class="no-events">No Events</div>
		{% endif %} 

	</div>
	<div class="title">Created Events</div>
	<div class="section">
		{% if events_created %}
			{% for event in events_created %}
			<a class="ticket" href="/event/{{ ticket.event_id.id }}/">
				<div class="overlay"></div>
				<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
				<div class="title">{{ event.evname }}</div>
				<div class="info">
					<div class="venue">{{ event.location }}</div>
					<div class="date-time">
						<div class="date">{{ event.last_date }}</div>
						<div class="time">@ 8:00PM</div>                  
					</div>
				</div>
				<div class="location">{{ event.address }}</div>
				<div class="funding-status">{{ event.funding_status }}</div>
			</a>
			{% endfor %}
		{% else %}
				<div class="no-events">No Events</div>
		{% endif %} 
	</div>
{% endblock %}
