<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<title>{% block title %}RevelRaise{% endblock %}</title>

		<script src="{{STATIC_URL}}js/jquery.js"></script>
		<script src="{{STATIC_URL}}js/base.js"></script>
		<script src="{{STATIC_URL}}js/slider.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="{{STATIC_URL}}css/lockdown.css" type="text/css">
<script>
	$(function() {
					$(".wrapperloading").hide();

		$( "#homescreen1" ).load(function() {

		  $(this).fadeTo(1000,1, function() {
		  	//$(".inner").fadeTo(600,1);
		  })
		  
		});
		
	})
	
	
</script>


	</head>

	<body>
		
<div class="wrapperloading">
  <div class="loading up"></div>
  <div class="loading down"></div>
</div>
		<img class="homescreen" id="homescreen1" src="{{STATIC_URL}}img/justice_concert.jpg"></img>
		<!--<div class="homescreen" id="homescreen2"></div>-->
		<div class="container">
			<div class="bg"></div>
			<div class="inner">
				<div class="tapcard-prev">RevelRaise</div>
				  {% if form %}
				  <form action="" method="post">
				    {{ form }}
				    <input type="submit" value=">">
				  </form>
				  {% endif %}
				</div>
				<div class="bar"></div>
			</div>
		</div>

	</body>
</html>
