{% extends 'base/base.html' %}
		<title>{% block title %}RevelRaise{% endblock %}</title>
 		{% block extrahead %}
 		{% endblock %}
	</head>
	<body>
		{% block content %}
		<div class="info-container about">
			<div class="about-title">About RevelRaise</div>
			<div class="info">
				RevelRaise was formed with the purpose to allow both event creators and party goers the opportunity to fund events that they would like to attend. By using crowd-funding, event creators have the ability to secure adequate funding before throwing an event thereby mitigating a lot of the risks that are usually involved. Our goal is to provide a simple, easy to use platform where event creators can create events and party goers can raise funds. 
			</div>
			<div class="info">Welcome, and we hope to party with you soon.</div>
			<div class="info">Rohan CEO, Co-founder & Neil CTO Co-founder</div>
		</div>
		{% endblock %}
	</body>
</html>
