{% extends 'base/base.html' %}
		<title>{% block title %}RevelRaise{% endblock %}</title>
 		{% block extrahead %}
 		{% endblock %}
	</head>
	<body>
		{% block content %}
		<div class="info-container">
			<div class="about-title">Frequently Asked Questions</div>
			<div class="info">
				<div class="info-faq-q">
					What is RevelRaise?
				</div>
				<div class="info-faq-a">
					Revelraise is a unique platform that allows event creators to raise funding before throwing an event. By using Revelraise, event creators are able to ensure that their margins are met and therefore are able to throw successful events.
				</div>
			</div>
			<div class="info">
				<div class="info-faq-q">
					How it works?
				</div>
				<div class="info-faq-a">
					Please visit our <a href="#">How it Works</a> page.
				</div>
			</div>
			<div class="info">
				<div class="info-faq-q">
					Can I cancel my ticket?
				</div>
				<div class="info-faq-a">
					You may cancel your ticket before the event reaches funding. After funding is met, your credit card is charged and funds are dispersed to the event creator.
				</div>
			</div>
			<div class="info">
				<div class="info-faq-q">
					What happens if my event gets cancelled after it reaches funding?
				</div>
				<div class="info-faq-a">
					If your event gets cancelled after it reaches funding, the event creator is responsible for handling all refunds.
				</div>
			</div>
			<div class="info">
				<div class="info-faq-q">
					When will my credit card get charged?
				</div>
				<div class="info-faq-a">
					Your credit card gets charged only once the event tips (funding is met). However if funding is not met by the predetermined date, your credit card will not charged.
				</div>
			</div>
			<div class="info">
				<div class="info-faq-q">
					What do I do once I’ve bought a ticket?
				</div>
				<div class="info-faq-a">
					Once you’ve purchased the ticket, you will receive an email confirming your purchase. In addition, the event creator will have the ability to correspond with you regarding any relevant information in relation to the event.
				</div>
			</div>
			<div class="info">
				<div class="info-faq-q">
					What do I do once an event tips?
				</div>
				<div class="info-faq-a">
					After an event has been tipped, you will receive an email letting you know that your credit card has been charged. In addition, you may receive a unique bar code which will be needed for entry. In some cases event creators may prefer guest lists where you will need to present a form of ID.
				</div>
			</div>
			<div class="info">
				<div class="info-faq-q">
					Why have the prices changed?
				</div>
				<div class="info-faq-a">
					We have created a dynamic system that allows event creators to raise prices after 100% funding. So if an event is close to being 100% funded, there is a good chance that prices will increase after funding has been met.
				</div>
			</div>
			<div class="info">
				<div class="info-faq-q">
					Who can create events?
				</div>
				<div class="info-faq-a">
					At this time, only verified event creators can post events to the site.
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
