{% extends 'base/base.html' %}
	<title>{% block title %}Submit Event - RevelRaise{% endblock %}</title>
	{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-theme.css">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<script src="{{STATIC_URL}}js/googlemaps.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}css/add_event.css" type="text/css">
    <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
    <script src="{{ STATIC_URL }}js/moment.js" ></script>
    <script src="{{ STATIC_URL }}js/datetime.js" ></script>
	<link rel="stylesheet" href="{{STATIC_URL}}ajaxuploader/css/fileuploader.css" type="text/css">
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    {{ form.media }}

	<script>
		$(function() {
			
			browseheader = $("#sticky-sidebar")
			browseheader_top = $(browseheader).offset().top
			navheight = $("#nav").outerHeight()
			startfixed = browseheader_top - navheight - 30
			fixedright = ($(window).width() - $("#main-width").width())/2
			$(".fixed").css("right", fixedright+"px")
			$(window).scroll(function() {
				scrolltop = $(document).scrollTop();
				if (scrolltop > startfixed) {
					$(browseheader).addClass("fixed")
					fixedright = ($(window).width() - $("#main-width").width())/2
					$(".fixed").css("right", fixedright+"px")
				}else {
					$(browseheader).removeClass("fixed")
				}
			})
		
			tier = 1;
			$(".add-tier").click(function() {
				$(".remove-tier").show()
				tier++;
				if (tier == 2){
					$(".add-tier").before('<div class="event-tier tier-two"><div class="tier-price editable"><span></span>{{ event_form.tier_two }}</div><div class="tier-description editable"><span></span>{{ event_form.tier_two_desc }}</div><div class="tier-tickets editable"><span></span>{{ event_form.tier_two_tickets }}</div><div class="event-tier-post"><div class="post-tier-price editable"><span></span>{{ event_form.tier_two_post_tipp }}</div></div></div>')
					$("#pc-tier-two").show()
				}
				else if (tier == 3){
					$(".add-tier").before('<div class="event-tier tier-three"><div class="tier-price editable"><span></span>{{ event_form.tier_three }}</div><div class="tier-description editable"><span></span>{{ event_form.tier_three_desc }}</div><div class="tier-tickets editable"><span></span>{{ event_form.tier_three_tickets }}</div><div class="event-tier-post"><div class="post-tier-price editable"><span></span>{{ event_form.tier_three_post_tipp }}</div></div></div>')
					$("#pc-tier-three").show()
					$(".add-tier").hide()
				}
			    if ($('#pricechange').is(":checked")) {
					$(".tier-description").addClass("widthchange")
					$(".event-tier-post").show()
			    }
				update_pc()
			})
		
			$( ".remove-tier").click("click", function() {
				if (tier == 2){
					$(".tier-two").remove()
					$("#pc-tier-two").hide()
					$(".remove-tier").hide()
				}
				else if (tier == 3){
					$(".tier-three").remove()
					$("#pc-tier-three").hide()
					$(".add-tier").show()
				}
				tier--;
				update_pc()
			})
		
		
			$('form').find('input').keypress(function(e){
			    if ( e.which == 13 ) { // Enter key = keycode 13
			        $(this).next().focus();  //Use whatever selector necessary to focus the 'next' input
			    	return false;
			    }
			});
		
			$("label[for='pricechange']").click(function() {
				$(".tier-description").toggleClass("widthchange")
				$(".event-tier-post").toggle()
			})
			
		
			$(document).on("blur","input", update_preview)
			
			function update_preview() {
				$(".article .title").html($("#id_evname").val())
				$(".article .venue").html($("#id_location").val())
				//$(".article .date-time").html($("#id_last_date_month").val())
				$(".article .location").html($("#id_address").val())
			}
		
		
			$(document).on("blur","#id_tipp_point, .tier-price input, .tier-tickets input", update_pc)
		
			function update_pc() {
				tier_two_price = $("#id_tier_two").val()
				tier_two_qty = $("#id_tier_two_tickets").val()
				tier_two_amt = tier_two_price*tier_two_qty;
				if (tier_two_price && tier_two_qty) {
					$("#pc-tier-two .pc-qty-price").html(tier_two_price+"x"+tier_two_qty)
					$("#pc-tier-two .pc-total").html(tier_two_amt)
				}else {
					$("#pc-tier-two .pc-qty-price").html(0+"x"+0)
					$("#pc-tier-two .pc-total").html(0)		
				}
				
				tier_three_price = $("#id_tier_three").val()
				tier_three_qty = $("#id_tier_three_tickets").val()
				tier_three_amt = tier_three_price*tier_three_qty;
				if (tier_three_price && tier_three_qty) {
					$("#pc-tier-three .pc-qty-price").html(tier_three_price+"x"+tier_three_qty)
					$("#pc-tier-three .pc-total").html(tier_three_amt)
				}else {
					$("#pc-tier-three .pc-qty-price").html(0+"x"+0)
					$("#pc-tier-three .pc-total").html(0)		
				}
				
				tier_one_price = $("#id_tier_one").val()
				tier_one_qty = $("#id_tier_one_tickets").val()
				tier_one_amt = tier_one_price*tier_one_qty;
				if (tier_one_price && tier_one_qty) {
					$("#pc-tier-one .pc-qty-price").html(tier_one_price+"x"+tier_one_qty)
					$("#pc-tier-one .pc-total").html(tier_one_amt)
					rev = tier_one_amt+tier_two_amt+tier_three_amt
					$("#pc-rev .pc-val").html(rev)
					fee = rev*0.03;
					$("#pc-fee .pc-val").html(Math.round(fee))
					net = rev - fee;
					$("#pc-diff .pc-val").html(net)
				}else {
					$("#pc-tier-one .pc-qty-price").html(0+"x"+0)
					$("#pc-tier-one .pc-total").html(0)		
				}
				
				tipp_amt = $("#id_tipp_point").val()
				if (tipp_amt)
				$("#pc-tip span").html(tipp_amt)
				else
				$("#pc-tip span").html(0)
			
			}
		
			{% if user.is_authenticated %}
			user_logged_in = true;
			{% else %}
			user_logged_in = false;
			{% endif %}
			if (!user_logged_in) {
					$(".popup-container").css("opacity", 0).show().fadeTo(100, 1)
					$("#signup-form").hide();			
					$("#login-form").show();
				setTimeout(function() {
					$(".popup-container").unbind("click")
				}, 100)
			}
		
		
			var uploader = new qq.FileUploader({
			    action: "{% url 'my_ajax_upload' %}",
			    element: $('#file-uploader')[0],
			    multiple: true,
			    onComplete: function(id, fileName, responseJSON) {
			        if(responseJSON.success) {
			            //console.log("success!");
			            $("#preview .picture img").attr("src", "http://revelraise.com/static/uploads/"+responseJSON.filename)
			        } else {
			            //console.log("upload failed!");
			        }
			    },
			    onAllComplete: function(uploads) {
			        //console.log("All complete!");
			    },
			    params: {
			        'csrf_token': '{{ csrf_token }}',
			        'csrf_name': 'csrfmiddlewaretoken',
			        'csrf_xname': 'X-CSRFToken',
			    },
			});
		})
	</script>
	{% endblock %}
	{% block content %}
		<div class="addevent-content">
			<form action="{% url 'events:createanevent' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
				<div class="form-section-label"></div>
				<div class="event-name editable">
					<div class="form-label">Name</div>
					{{ event_form.evname }}
				</div>
				<div class="location-website editable">
					<div class="form-label">Date and Time</div>
					{{ event_form.last_date }}
				</div>
				<div class="event-pic">
					<div class="form-label">Picture</div>
					{{ event_form.pic }}
				    <div id="file-uploader">       
				        <noscript>          
				            <p>Please enable JavaScript to use file uploader.</p>
				        </noscript>         
				    </div>
				</div>
				<div class="media-edit">
					<div class="edit-pic edit-media-btn"></div>
					<div class="edit-vid-embed edit-media-btn">
						<div class="video-embed-c">
							<div class="form-label">Video Embed</div>
							<div class="embed-input">{{ event_form.vid_embed }}</div>
						</div>
					</div>
				</div>
				<div class="form-section-label">Location</div>
				<div class="location-name editable">
					<div class="form-label">Venue</div>
					{{ event_form.location }}
					{{ event_form.location_route }}
				</div>
				<div class="location-address editable">
					<div class="form-label">Address</div>
					<div class="location-left">
						{{ event_form.address }}
						<div id="googlemaps-output"></div>				
					</div>
					<div id="map-canvas"></div>
				</div>
				<div class="event-tier-c">
					<div class="form-section-label">Tickets</div>
					<div class="tier-options addevent-c">
						<div class="tier-option">
							<input type="checkbox" id="pricechange" name="pricechange" />
							<label for="pricechange">Change price after funding</label>
						</div>
					</div>
					<div class="event-tiers event-tiers-left">
						<div class="event-tier addevent-c">
							<div class="form-label">Tier One</div>
							<div class="tier-price editable">{{ event_form.tier_one }}</div>
							<div class="tier-description editable">{{ event_form.tier_one_desc }}</div>
							<div class="tier-tickets editable">{{ event_form.tier_one_tickets }}</div>
							<div class="event-tier-post">
								<div class="post-tier-price editable">{{ event_form.tier_one_post_tipp }}</div>
							</div>
						</div>
					</div>
					<div class="tier-button add-tier addevent-c">Add a Tier</div>
					<div class="tier-button remove-tier addevent-c">Remove Tier</div>				
				</div>
				<div class="tipp-date-c addevent-c">
					<div class="location-website editable">
						<div class="form-label">Goal</div>
						{{ event_form.tipp_point }}
					</div>				
				</div>
				<div class="event-description editable addevent-c">
					<div class="form-label">Description</div>
					{{ event_form.descr }}
				</div>
				<div class="location-info addevent-c">
					<div class="location-input-c">
						<div class="location-phone editable">
							<div class="form-label">Phone (optional)</div>
							{{ event_form.phone }}
						</div>
						<div class="location-website editable">
							<div class="form-label">Website (optional)</div>
							{{ event_form.website }}
						</div>
					</div>
				</div>
				<div class="publish">
					<input type="submit" value="Submit" />
				</div>
			</form>
			<div id="sticky-sidebar">
				<div id="preview">
					<div class="article">
						<div class="overlay"></div>
						<div class="picture"><img src="" alt=""></div>
						<div class="title"></div>
						<div class="info">
							<div class="venue"></div>
							<div class="date-time">
								<div class="date"></div>
								<div class="time"></div>									
							</div>
						</div>
						<div class="location">{{ event.address }}</div>
					</div>
				</div>
				<div class="price-cost-calc-c">
					<div class="pccc-title">Financials</div>
					<div class="pc-tier-c">
						<div id="pc-tier-one" class="pc-tier-row">
							<div class="pc-tier">Tier 1</div>
							<div class="pc-qty-price">0x0</div>
							<div class="pc-total">0</div>							
						</div>
						<div id="pc-tier-two" class="pc-tier-row" style="display:none">
							<div class="pc-tier">Tier 2</div>
							<div class="pc-qty-price">0x0</div>
							<div class="pc-total">0</div>							
						</div>
						<div id="pc-tier-three" class="pc-tier-row" style="display:none">
							<div class="pc-tier">Tier 3</div>
							<div class="pc-qty-price">0x0</div>
							<div class="pc-total">0</div>							
						</div>
					</div>
					<div id="pc-rev" class="pc-title">Revenue<span class="pc-val">0</span></div>
					<div id="pc-fee" class="pc-title">Service Fee <span>(7%)</span><span class="pc-val">0</span></div>
					<div id="pc-diff" class="pc-title">Net<span class="pc-val">0</span></div>
					<div class="pc-tip-c">
						<div id="pc-tip" class="pc-title">Tip Point<span class="pc-val">0</span></div>
					</div>
				</div>		
			</div>
		</div>
		{% endblock %}