	{% extends 'base/base.html' %}
	<title>{% block title %}Events{% endblock %}</title>
	{% block extrahead %}
	<script>
		$(function() {
			browseheader = $("#browse-header")
			browseheader_top = $(browseheader).offset().top
			navheight = $("#nav").outerHeight()
			startfixed = browseheader_top - navheight - 30
			fixedright = ($(window).width() - $("#main-width").width())/2
			$(".fixed").css("right", fixedright+"px")
			$(window).scroll(function() {
				scrolltop = $(document).scrollTop();
				if (scrolltop > startfixed) {
					$(browseheader).addClass("fixed")
					$(".fixed").css("right", fixedright+"px")
				}else {
					$(browseheader).removeClass("fixed")
				}
			})
		})
	</script>
	{% endblock %}
	{% block content %}
		<div id="browse-header">
			<div id="search"><input type="text" placeholder="Search for an event" /><input type="submit" /></div>
			<div class="browse city">
				<div class="browse-title">City</div>
				<div class="browse-c">
					<a href="{% url 'browse' %}
					{% if venue_filter %}
					?venue={{ venue_filter }}
					{% endif %}">all</a>
					{% if not city_filter %}
					{% for city in city_list %}
					<a href="{% url 'browse' %}?city={{ city }}
					{% if venue_filter %}
					&venue={{ venue_filter }}
					{% endif %}">{{ city }}</a>
					{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="browse venue">
				<div class="browse-title">Venue</div>
				<div class="browse-c">
					<a href="{% url 'browse' %}{% if city_filter %}?city={{ city_filter }}{% endif %}">all</a>
					{% if not venue_filter %}
					{% for venue in venue_list %}
						<a href="{% url 'browse' %}?venue={{ venue }}{% if city_filter %}&city={{ city_filter }}{% endif %}">{{ venue }}</a>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<div id="browse-container">
			<div class="title">Near You</div>
			<div id="your-location">
				<div class="location-icon"></div>
				{% if location %}
				<div class="city">{{location.city}}, </div>
				<div class="region">{{location.region}}</div>
				{% else %}
				<div class="location-unkown">unknown</div>
				{% endif %}
			</div>
			<div class="section">
				{% if events_near %}
					{% for event in events_near %}
						<a class="article" href="/event/{{ event.id }}/">
							<div class="overlay"></div>
							<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
							<div class="title">{{ event.evname }}</div>
							<div class="info">
								<div class="venue">{{ event.location }}</div>
								<div class="date-time">
									<div class="date">{{ event.last_date }}</div>
									<div class="time">@ 8:00PM</div>									
								</div>
							</div>
							<div class="location">{{ event.address }}</div>
						</a>
					{% endfor %}
				{% else %}
					<div class="no-events">No events near you</div>
				{% endif %}
			</div>
			<div class="title">Nearly Funded</div>
			<div class="section">
				{% if events_funded %}
					{% for event in events_funded %}
						<a class="article" href="/event/{{ event.id }}/">
							<div class="overlay"></div>
							<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
							<div class="title">{{ event.evname }}</div>
							<div class="info">
								<div class="venue">{{ event.location }}</div>
								<div class="date-time">
									<div class="date">{{ event.last_date }}</div>
									<div class="time">@ 8:00PM</div>									
								</div>
							</div>
							<div class="location">{{ event.address }}</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
			<div class="title">Most Active</div>
			<div class="section">
				{% if events_pop %}
					{% for event in events_pop %}
						<a class="article" href="/event/{{ event.id }}/">
							<div class="overlay"></div>
							<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
							<div class="title">{{ event.evname }}</div>
							<div class="info">
								<div class="venue">{{ event.location }}</div>
								<div class="date-time">
									<div class="date">{{ event.last_date }}</div>
									<div class="time">@ 8:00PM</div>									
								</div>
							</div>
							<div class="location">{{ event.address }}</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
			<div class="title">Recently Posted</div>
			<div class="section">
				{% if events_recent %}
					{% for event in events_recent %}
						<a class="article" href="/event/{{ event.id }}/">
							<div class="overlay"></div>
							<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
							<div class="title">{{ event.evname }}</div>
							<div class="info">
								<div class="venue">{{ event.location }}</div>
								<div class="date-time">
									<div class="date">{{ event.last_date }}</div>
									<div class="time">@ 8:00PM</div>									
								</div>
							</div>
							<div class="location">{{ event.address }}</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>			
		</div>

	{% endblock %}
