	{% extends 'base/base.html' %}
		<title>{% block title %}RevelRaise{% endblock %}</title>
 		{% block extrahead %}
		<script>
			$(function() {

			})	
		</script>
 		{% endblock %}
	</head>
		{% block content %}
			<div class="title">Spotlight</div>
			<div class="section">
				{% if events_upcoming %}
					{% for event in events_upcoming %}
						<a class="article" href="/event/{{ event.id }}/">
							<div class="overlay"></div>
							<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
							<div class="title">{{ event.evname }}</div>
							<div class="info">
								<div class="venue">{{ event.location }}</div>
								<div class="date-time">
									<div class="date">{{ event.last_date }}</div>
									<div class="time">@ 8:00PM</div>									
								</div>
							</div>
							<div class="location">{{ event.address }}</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
			<div class="title">Nearly Funded</div>
			<div class="section">
				{% if events_funded %}
					{% for event in events_funded %}
						<a class="article" href="/event/{{ event.id }}/">
							<div class="overlay"></div>
							<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
							<div class="title">{{ event.evname }}</div>
							<div class="info">
								<div class="venue">{{ event.location }}</div>
								<div class="date-time">
									<div class="date">{{ event.last_date }}</div>
									<div class="time">@ 8:00PM</div>									
								</div>
							</div>
							<div class="location">{{ event.address }}</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
			<div class="title">Most Active</div>
			<div class="section">
				{% if events_pop %}
					{% for event in events_pop %}
						<a class="article" href="/event/{{ event.id }}/">
							<div class="overlay"></div>
							<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
							<div class="title">{{ event.evname }}</div>
							<div class="info">
								<div class="venue">{{ event.location }}</div>
								<div class="date-time">
									<div class="date">{{ event.last_date }}</div>
									<div class="time">@ 8:00PM</div>									
								</div>
							</div>
							<div class="location">{{ event.address }}</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
			<div class="title">Recently Posted</div>
			<div class="section">
				{% if events_recent %}
					{% for event in events_recent %}
						<a class="article" href="/event/{{ event.id }}/">
							<div class="overlay"></div>
							<div class="picture"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
							<div class="title">{{ event.evname }}</div>
							<div class="info">
								<div class="venue">{{ event.location }}</div>
								<div class="date-time">
									<div class="date">{{ event.last_date }}</div>
									<div class="time">@ 8:00PM</div>									
								</div>
							</div>
							<div class="location">{{ event.address }}</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
		{% endblock %}
	</body>
</html>
