<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 
	.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1024, user-scalable=yes">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>RevelRaise</title>
 	<link rel="icon" type="image/png" href="img/ico.png">
    <link href="{{STATIC_URL}}/css/base.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}/css/landing.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <script src="{{STATIC_URL}}js/jquery.js"></script>
	<script>
		$(function() {
			/*
			setInterval(function() {

				if ($(".get").is(":visible")) {
					$(".get").fadeTo(600, 0, function() {
						$(".get").hide();
						$(".make").fadeTo(600, 1);
					});
				}else {
					$(".make").fadeTo(600, 0, function() {
						$(".make").hide();
						$(".get").fadeTo(600, 1);
					});					
				}
			}, 5000)
			*/
			
			
			$(".sl-title").click(function() {
				$("#signup-form").hide()
				$(".signin-button.mail").removeClass("selected")

				$(".sl-title").removeClass("selected")
				$(this).addClass("selected")
				
				if ($(this).attr("id")=="login") {
					$(".sign-up-c").fadeTo(100, 0, function() {
						$(".sign-up-c").hide();
						$("#login-form").fadeTo(100, 1);					
					});
				}else {
					$("#login-form").fadeTo(100, 0, function() {
						$("#login-form").hide()
						$(".sign-up-c").fadeTo(100, 1);					
					});
				}

			})
			$(".signin-button.mail").click(function() {

				
				if (!$(".signin-button.mail").hasClass("selected")) {
					$(".sign-up-c").fadeTo(100, 0, function() {
						$(".sign-up-c").hide();
						$("#signup-form").fadeTo(100, 1);					
					});
					$(".signin-button.mail").addClass("selected")
				}else {
					$("#signup-form").fadeTo(100, 0, function() {
						$("#signup-form").hide()
						$(".sign-up-c").fadeTo(100, 1);					
					});
					$(".signin-button.mail").removeClass("selected")
				}

			})
			$(window).resize(function() {
				size()
			})
			
			function size() {
				windowheight = $(window).height()
				
				footerheight = $(".footer-landing").height()
				console.log(windowheight - footerheight)
				$(".one").css("height", windowheight - footerheight)
				
								
			}
			size()
		})
	</script>
</head>
<body>
	<div id="container">
		<div class="content">
			<div class="one scene">
				<div class="header">
					<div class="header-blur"></div>
					<div class="header-bg"></div>
					<div class="logo"><a href="#">RevelRaise</a></div>
					<div class="header-menu">
						<a href="/index">Discover<span>events</span></a>
						<a href="/events/createanevent">Create<span>an event</span></a>
					</div>
				</div>
				<div class="inner">
					<div class="slogan">
						<div class="theparty">
							<span class="get">Some hype</span>
							<span class="make">Make</span>
							<span class="party">tag line</span>
						</div>
					</div>
					<div class="sign-in-c">
						<div class="sign-in-blur"></div>
						<div class="sign-in-bar"></div>
						<div class="sign-in">
							<div class="signup-login">
								<div id="signup" class="sl-title selected">Sign Up</div>
								<div id="login" class="sl-title">Log In</div>						
							</div>
							{% load i18n %}
							{% load account %}
							{% load url from future %}
							<div class="sign-up-c">
								<div class="social-container">
									{% load socialaccount %}
									<a class="signin-button facebook" href="{% provider_login_url 'facebook' %}"><div class="social-icon"></div><span>Sign in with Facebook</span></a>
									<a class="signin-button twitter" href="{% provider_login_url 'twitter' %}"><div class="social-icon"></div><span>Sign in with Twitter</span></a>
									<a class="signin-button google" href="{% provider_login_url 'google' %}"><div class="social-icon"></div><span>Sign in with Google</span></a>
								</div>
								<div class="sign-in-sep">or</div>
								<div class="email-container">
									<div class="signin-button mail"><div class="social-icon"></div><span>Sign in with Email</span></div>
								</div>						
							</div>
							<div class="log-in-c" id="signup-form">
								<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
								  {% csrf_token %}
								  {{ signup_form.as_p }}
								  {% if redirect_field_value %}
								  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
								  {% endif %}
								  <button type="submit">Sign Up</button>
								</form>
							</div>
							<div class="log-in-c" id="login-form">
								<form class="login" method="POST" action="{% url 'account_login' %}">
								  {% csrf_token %}
								  {{ form.as_p }}
								  {% if redirect_field_value %}
								  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
								  {% endif %}
								  <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
								  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
								</form>
							</div>
						</div>						
					</div>
				</div>
				<div class="one-bottom">
					<div class="one-bottom-blur"></div>
					<div class="one-bottom-bg"></div>
					<div class="one-bottom-c">
						<div class="inner">
							<div class="title">New York City, NY</div>
							<div class="seemore">see more</div>
							<div class="event-container">
					          {% for event in events %}
					        	<a href="/events/{{ event.id }}/" class="event">
					        	<div class="event-img"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
					        	<div class="event-info">
					        		<div class="name">{{ event.evname }}</div>
					        		<div class="location">{{ event.location }}</div>
					        	</div>
					        	</a>
					          {% endfor %}
					          {% for event in events %}
					        	<a href="/events/{{ event.id }}/" class="event">
					        	<div class="event-img"><img src="{{static_url}}/static/{{event.pic}}" alt=""></div>
					        	<div class="event-info">
					        		<div class="name">{{ event.evname }}</div>
					        		<div class="location">{{ event.location }}</div>
					        	</div>
					        	</a>
					          {% endfor %}
							</div>						
						</div>						
					</div>
				</div>
				<div class="hiw-c" style="display:none">
					<div class="how-it-works">
						<div class="title">Crowd Source Events of Your Own</div>
						<div class="storyboard sb-one">
							<div class="icon plan"></div>
							<div class="caption">Plan It</div>
						</div>
						<div class="storyboard sb-two">
							<div class="icon raise"></div>
							<div class="caption">Raise Funds</div>
						</div>
						<div class="storyboard sb-three">
							<div class="icon live"></div>
							<div class="caption">Live It</div>
						</div>
					</div>					
				</div>

			</div>
			<div class="two scene">
				<div class="two-upper-bg"></div>
				<div class="two-bottom">
					<div class="two-container inner">
						<div class="title">Crowd Source Events of Your Own</div>
						<div class="storyboard sb-one">
							<div class="icon plan"></div>
							<div class="caption">Plan It</div>
						</div>
						<div class="storyboard sb-two">
							<div class="icon raise"></div>
							<div class="caption">Raise Funds</div>
						</div>
						<div class="storyboard sb-three">
							<div class="icon live"></div>
							<div class="caption">Live It</div>
						</div>
					</div>
					<a href="/events/addevent/" class="create-event-link">Create an Event</a>

				</div>
			</div>
			<div class="footer-landing">
			<div class="inner">
				<div class="logo">RevelRaise</div>
				<div class="links">
					<a href="#" class="link">Blog</a>
					<a href="#" class="link">About Us</a>
					<a href="#" class="link">Jobs</a>
					<a href="#" class="link">Contact</a>
					<a href="#" class="link">Terms</a>
					<a href="#" class="link">Press</a>
				</div>	
				<div class="social-footer">
					<a href="#" class="social-f-a twitter"></a>
					<a href="#" class="social-f-a instagram"></a>
					<a href="#" class="social-f-a facebook"></a>
				</div>			
			</div>

			</div>
		</div>
	</div>
</body>
</html>