<div class="log-in-c">
	{% load i18n %}
	{% load account %}
	{% load url from future %}
	<form class="login" method="POST" action="{% url 'account_login' %}">
	  {% csrf_token %}
	  {{ form.as_p }}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	  {% endif %}
	  <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
	  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
	</form>
</div>