<div class="sign-up-c">
	<div class="social-container">
		{% load socialaccount %}
		<a class="signin-button facebook" href="{% provider_login_url 'facebook'  %}"><div class="social-icon"></div><span>Sign in with Facebook</span></a>
		<a class="signin-button twitter" href="{% provider_login_url 'twitter' %}"><div class="social-icon"></div><span>Sign in with Twitter</span></a>
		<a class="signin-button google" href="{% provider_login_url 'google' %}"><div class="social-icon"></div><span>Sign in with Google</span></a>
	</div>
	<div class="sign-in-sep">or</div>
	<div class="email-container">
		<div class="signin-button mail"><div class="social-icon"></div><span>Sign in with Email</span></div>
	</div>						
</div>