<div class="sign-in-c">
	<div class="sign-in-blur"></div>
	<div class="sign-in-bar"></div>
	<div class="sign-in">
		<div class="signup-login">
			<div id="signup" class="sl-title selected">Sign Up</div>
			<div id="login" class="sl-title">Log In</div>						
		</div>
		{% include "home/signinc.html" %}
		{% include "home/loginc.html" %}
	</div>						
</div>